Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

chore: add full license to DEB/RPM packages
  ci/licenses/README.md
  ci/licenses/flightsql.tpl
  ci/linux-packages/debian/copyright
  ci/linux-packages/yum/apache-arrow-adbc.spec.in
  python/adbc_driver_flightsql/LICENSE.txt
Due: none

fix
  dev/release/verify-release-candidate.sh
Due: none

fix(rust/driver_manager): load with RTLD_NOW (#4665)
  rust/driver_manager/src/search.rs
Due: none

chore(dev/release): verify free-threaded wheels too (#4669)
  dev/release/verify-release-candidate.sh
Due: none

build(java/driver/jni): don't include JNI binaries in sources JAR (#4664)
  .github/workflows/packaging.yml
  java/driver/jni/pom.xml
Due: check-pin

chore(dev/release): verify binary wheels on Linux
  dev/release/verify-release-candidate.ps1
Due: none

don't install m2w64-gcc on non-Windows platforms
  dev/release/verify-release-candidate.ps1
Due: none

chore(dev/release): verify binary wheels on Windows (#4671)
  dev/release/verify-release-candidate.ps1
Due: none

improvements from code review comments
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/flightsql_tracing.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/shared_utils.go
Due: none

ci: add vcpkg/Windows ARM pipeline for CMake build
  .github/workflows/native-vcpkg.yml
  .github/workflows/native-windows.yml
Due: check-pin

fix injection
  .github/workflows/native-vcpkg.yml
Due: check-pin

fix syntax
  .github/workflows/native-vcpkg.yml
Due: check-pin

more fixes
  .github/workflows/native-vcpkg.yml
  c/cmake_modules/GoUtils.cmake
Due: check-pin

more fixes
  .github/workflows/native-vcpkg.yml
Due: check-pin

more fixes
  ci/vcpkg/triplets/arm64-windows-release.cmake
Due: none

debug
  .github/workflows/native-vcpkg.yml
  .github/workflows/packaging.yml
Due: check-pin

fix?
  .github/workflows/native-vcpkg.yml
Due: check-pin

revert
  .github/workflows/packaging.yml
Due: check-pin

feedback
  .github/workflows/native-vcpkg.yml
Due: check-pin

feat(format): add way to introspect supported options (#4551)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

ci: enable Rust tests on Windows-on-ARM
  .github/workflows/rust.yml
Due: check-pin

target
  .github/workflows/rust.yml
Due: check-pin

Revert "target"
  .github/workflows/rust.yml
Due: check-pin

update script
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/vendor_nanoarrow.sh
Due: none

chore(c/vendor): Update vendored nanoarrow (#4636)
  c/vendor/nanoarrow/nanoarrow.c
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/nanoarrow/nanoarrow.hpp
  c/vendor/vendor_nanoarrow.sh
Due: none

chore: fix documentation packaging build
  .github/workflows/native-unix.yml
  ci/conda_env_python.txt
  compose.yaml
Due: check-pin

fix recipe
  docs/source/cpp/recipe/CMakeLists.txt
  docs/source/cpp/recipe/quickstart.cc
Due: none

fix other recipe
  docs/source/cpp/recipe_driver/CMakeLists.txt
Due: none

chore: fix builds after conda-forge upgrade (#4689)
  .github/workflows/native-unix.yml
  ci/conda_env_python.txt
  compose.yaml
  docs/source/cpp/recipe/CMakeLists.txt
  docs/source/cpp/recipe/quickstart.cc
  docs/source/cpp/recipe_driver/CMakeLists.txt
Due: check-pin

build: package wheels for Windows/ARM
  .github/workflows/java.yml
  .github/workflows/packaging.yml
  c/cmake_modules/GoUtils.cmake
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_build_drivers.ps1
  ci/scripts/python_wheel_windows_build_manager.ps1
  ci/scripts/python_wheel_windows_test.bat
  ci/scripts/python_wheel_windows_test.ps1
Due: check-pin

update backward-cpp to pickup WoA support
  LICENSE.txt
  c/vendor/backward/backward.hpp
  python/adbc_driver_flightsql/LICENSE.txt
  python/adbc_driver_postgresql/LICENSE.txt
  python/adbc_driver_sqlite/LICENSE.txt
Due: none

tweaks
  .github/workflows/packaging.yml
  ci/scripts/python_wheel_windows_build_drivers.ps1
  ci/scripts/python_wheel_windows_build_manager.ps1
  ci/scripts/python_wheel_windows_test.ps1
Due: check-pin

put driver on PATH
  .github/workflows/packaging.yml
  ci/scripts/python_wheel_windows_test.ps1
Due: check-pin

feat(format): add more constraint metadata to GetObjects (#4008)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add GetInfo codes for driver features (#4012)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat: Spec multi-result-set API (#3871)
  c/driver_manager/adbc_version_100_compatibility_test.cc
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
  r/adbcdrivermanager/src/radbc.cc
Due: check-cgo-adbc-header

feat(format): add AdbcErrorGetVendorCode (#3873)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add AdbcConnectionSetWarningHandler (#3872)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
