Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

feat(c/include/arrow-adbc): Add AdbcStatementRequestSchema (#3623)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add way to introspect supported options (#4551)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): formalize vendor type name metadata (#4550)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Address code review comment to add documentation for EndSpanHelper
  go/adbc/driver/internal/shared_utils.go
Due: none

add unsaved changes
  go/adbc/driver/flightsql/flightsql_database.go
Due: none

merged dev/birschick-bq/flight-sql-log-to-trace-4-connection
  go/adbc/driver/flightsql/flightsql_bulk_ingest.go
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/flightsql_tracing.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/shared_utils.go
Due: none

refactor(go/adbc): refactor logging instrumentation into OTel tracing - part 1/3 (#4655)
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/flightsql_tracing.go
  go/adbc/driver/flightsql/logging.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/flightsql/record_reader_test.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/driverbase/database.go
  go/adbc/driver/internal/shared_utils.go
Due: none

correct bad merge changes to correct test failures
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
Due: none

fix race condition test errors
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/flightsql/record_reader_test.go
Due: none

feat(format): add generic metadata API
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

test(c/driver/postgresql): validate against compatible vendors
  .github/workflows/integration.yml
  c/driver/postgresql/validation/queries-cockroachdb/type/bind/int32.txtcase
  c/driver/postgresql/validation/queries-cockroachdb/type/bind/timestamp_ns.txtcase
  c/driver/postgresql/validation/queries-cockroachdb/type/bind/timestamptz_ns.txtcase
  c/driver/postgresql/validation/queries-cockroachdb/type/literal/int32.txtcase
  c/driver/postgresql/validation/queries-cockroachdb/type/select/int32.txtcase
  c/driver/postgresql/validation/tests/conftest.py
  c/driver/postgresql/validation/tests/postgresql.py
  c/driver/postgresql/validation/tests/test_connection.py
  c/driver/postgresql/validation/tests/test_ingest.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
  ci/scripts/validate.sh
  compose.yaml
Due: check-pin

refactor
  .github/workflows/integration.yml
Due: check-pin

Get CrateDB sort of working
  .github/workflows/integration.yml
  c/driver/postgresql/validation/pyproject.toml
  c/driver/postgresql/validation/queries-cratedb/type/bind/binary.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/binary_view.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/date.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/fixed_size_binary.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/int64.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/large_binary.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/time_ms.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/time_ns.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/time_s.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/time_us.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamp_ms.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamp_ns.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamp_s.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamp_us.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_ms.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_ns.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_s.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_us.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/uuid.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/literal/binary.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/literal/time.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/literal/uuid.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/binary.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/date.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/int64.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/json.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/jsonb.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/time.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/select/uuid.txtcase
  c/driver/postgresql/validation/tests/postgresql.py
  c/driver/postgresql/validation/uv.lock
Due: check-pin

update cases
  c/driver/postgresql/validation/queries/ingest/decimal_scale_equals_precision.txtcase
  c/driver/postgresql/validation/queries/ingest/decimal_scale_negative.txtcase
  c/driver/postgresql/validation/queries/ingest/decimal_scale_zero.txtcase
Due: none

docs: add chdb to drivers table
  docs/source/driver/index.rst
Due: none

correct test failure
  go/adbc/driver/flightsql/flightsql_database.go
Due: none

docs: add chdb to drivers table (#4707)
  docs/source/driver/index.rst
Due: none

docs: fix chdb url
  docs/source/driver/index.rst
Due: none

docs: fix chdb url in drivers table (#4708)
  docs/source/driver/index.rst
Due: none

update for cratedb
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_ms.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_ns.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_s.txtcase
  c/driver/postgresql/validation/queries-cratedb/type/bind/timestamptz_us.txtcase
  c/driver/postgresql/validation/tests/postgresql.py
  c/driver/postgresql/validation/tests/test_connection.py
  c/driver/postgresql/validation/tests/test_statement.py
Due: none

more cratedb overrides
  c/driver/postgresql/validation/tests/test_connection.py
Due: none

fix comment
  .github/workflows/integration.yml
Due: check-pin

bump version
  compose.yaml
Due: none

no need to stop
  .github/workflows/integration.yml
Due: check-pin

feat(javascript): drop conda from the JS test job, use vcpkg for SQLite
  .github/workflows/javascript.yml
Due: check-pin

code review updates
  go/adbc/driver/flightsql/flightsql_adbc_test.go
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/tracing_test.go
Due: none

inline single use closeTracing function
  go/adbc/driver/flightsql/flightsql_database.go
Due: none

removal of unused code.
  go/adbc/driver/flightsql/logging_test.go
Due: none

review comments for UnaryInterceptor
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_tracing.go
  go/adbc/driver/flightsql/tracing_test.go
Due: none

fix(c/driver/postgresql): drain all results post-query
  c/driver/postgresql/connection.cc
  c/driver/postgresql/statement.cc
  python/adbc_driver_postgresql/tests/test_dbapi.py
  python/adbc_driver_postgresql/tests/test_lowlevel.py
Due: none

fix(python/adbc_driver_manager): pass table_types filter to GetObjects
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

fix(c/driver/postgresql): drain all results post-query (#4710)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/statement.cc
  python/adbc_driver_postgresql/tests/test_dbapi.py
  python/adbc_driver_postgresql/tests/test_lowlevel.py
Due: none

ci: fix the clang-tidy build
  .github/workflows/native-unix.yml
  ci/scripts/cpp_clang_tidy.sh
Due: check-pin

chore: bump Go toolchain to 1.26.6
  .env
  go/adbc/go.mod
Due: none

feat(c/driver/sqlite): ensure batch rows option can be retrieved
  c/driver/framework/base_driver.h
  c/driver/sqlite/sqlite_test.cc
  python/adbc_driver_sqlite/tests/test_lowlevel.py
  r/adbcdrivermanager/tests/testthat/test-options.R
Due: none
