Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

docs: Clearly indicate the support status in DuckDB (#4349)
  docs/source/driver/duckdb.rst
Due: none

docs(c/driver/postgresql): address review on offset-propagation comments
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
  c/driver/postgresql/postgresql_test.cc
Due: none

fix(c/driver/postgresql): use array_view->offset when writing list rows (#4320)
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/postgresql_test.cc
Due: none

feat(rust/core): implement fallible conversions for `IngestMode`
  rust/core/src/options.rs
Due: none

Enable formatting check via `dotnet format`
  .pre-commit-config.yaml
  csharp/src/Apache.Arrow.Adbc/Extensions/IArrowArrayExtensions.cs
  csharp/src/Apache.Arrow.Adbc/Tracing/ActivityTrace.cs
  csharp/test/Apache.Arrow.Adbc.Tests/AdbcTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/ClientTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Metadata/AdbcTable.cs
  csharp/test/Apache.Arrow.Adbc.Tests/TestBase.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Xunit/OrderAttribute.cs
  csharp/test/Drivers/Interop/FlightSql/FlightSqlData.cs
  csharp/test/Drivers/Interop/FlightSql/FlightSqlTestingUtils.cs
  csharp/test/Telemetry/Traces/Exporters/FileExporter/FileExporterTests.cs
Due: check-pin

Fix typo
  csharp/test/Apache.Arrow.Adbc.Tests/TestBase.cs
Due: none

chore(csharp): enable formatting check via `dotnet format` (#4351)
  .pre-commit-config.yaml
  csharp/src/Apache.Arrow.Adbc/Extensions/IArrowArrayExtensions.cs
  csharp/src/Apache.Arrow.Adbc/Tracing/ActivityTrace.cs
  csharp/test/Apache.Arrow.Adbc.Tests/AdbcTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/ClientTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Metadata/AdbcTable.cs
  csharp/test/Apache.Arrow.Adbc.Tests/TestBase.cs
  csharp/test/Apache.Arrow.Adbc.Tests/Xunit/OrderAttribute.cs
  csharp/test/Drivers/Interop/FlightSql/FlightSqlData.cs
  csharp/test/Drivers/Interop/FlightSql/FlightSqlTestingUtils.cs
  csharp/test/Telemetry/Traces/Exporters/FileExporter/FileExporterTests.cs
Due: check-pin

feat(rust/core): implement fallible conversions for `IngestMode` (#4350)
  rust/core/src/options.rs
Due: none

feat(format): partitioned bulk ingest spec and C API surface
  c/include/arrow-adbc/adbc.h
  docs/source/format/partitioned_bulk_ingest.rst
  docs/source/index.rst
Due: check-cgo-adbc-header

test(java/driver/jni): update mssql driver version
  .github/workflows/java.yml
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
Due: check-pin

test(java/driver/jni): update mssql driver version (#4357)
  .github/workflows/java.yml
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
Due: check-pin

feat(java/driver/jni): implement binding of streams
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcException.java
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcStatement.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

feat(java/driver/jni): implement getStatistics
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniConnection.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

fix
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcException.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
Due: none

fix
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
Due: none

(fix driver/databricks) when OptionQueryRetryCount is not provided, we should not set a default for queryRetryCount, otherwise it will default to 0 (#135)
  go/adbc/driver/databricks/database.go
Due: none

feat(java/driver/jni): implement getStatistics (#4361)
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcException.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniConnection.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

switch to AdbcSerializableHandle
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(java/driver/jni): implement binding of streams (#4359)
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcException.java
  java/core/src/main/java/org/apache/arrow/adbc/core/AdbcStatement.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/PostgresIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

feat(go/adbc/driver/flightsql): add logging for Flight SQL (#4322)
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/adbc.go
  go/adbc/driver/flightsql/flightsql_adbc_server_test.go
  go/adbc/driver/flightsql/flightsql_bulk_ingest.go
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_driver.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/logging.go
  go/adbc/driver/flightsql/logging_test.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/flightsql/record_reader_test.go
  go/adbc/driver/flightsql/utils.go
  go/adbc/driver/internal/driverbase/database.go
  go/adbc/driver/internal/driverbase/driver_test.go
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/ext.go
  go/adbc/go.mod
  go/adbc/go.sum
Due: none

feat(java/driver/jni): implement incremental execution, Substrait
  .github/workflows/java.yml
  go/adbc/driver/flightsql/cmd/testserver/main.go
  go/adbc/pkg/_tmpl/driver.go.tmpl
  go/adbc/pkg/flightsql/driver.go
  go/adbc/pkg/panicdummy/driver.go
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/FlightSqlIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/FlightSqlSqliteIntegrationTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniDriver.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: check-pin

update
  go/adbc/pkg/_tmpl/driver.go.tmpl
  go/adbc/pkg/flightsql/driver.go
  go/adbc/pkg/panicdummy/driver.go
Due: none

feat(java/driver/jni): implement incremental execution, Substrait (#4362)
  .github/workflows/java.yml
  go/adbc/driver/flightsql/cmd/testserver/main.go
  go/adbc/pkg/_tmpl/driver.go.tmpl
  go/adbc/pkg/flightsql/driver.go
  go/adbc/pkg/panicdummy/driver.go
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/FlightSqlIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/FlightSqlSqliteIntegrationTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniDriver.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: check-pin

build(python): remove deprecated cibuildwheel `enable-freethreading`
  ci/scripts/python_wheel_unix_relocate.sh
  python/adbc_driver_manager/pyproject.toml
Due: none

feat(go/adbc/driver/bigquery): add external-account (WIF) auth support (#134)
  go/adbc/driver/bigquery/bigquery_database.go
  go/adbc/driver/bigquery/connection.go
  go/adbc/driver/bigquery/connection_test.go
  go/adbc/driver/bigquery/driver.go
Due: none

fix(python/adbc_driver_manager): prevent segfault when pyarrow rejects stream schema
  python/adbc_driver_manager/adbc_driver_manager/_reader.pyx
  python/adbc_driver_manager/tests/test_reader.py
Due: none

build(python): remove deprecated cibuildwheel `enable-freethreading` (#4364)
  ci/scripts/python_wheel_unix_relocate.sh
  python/adbc_driver_manager/pyproject.toml
Due: none

build(javascript): use consistent arrow version bound
  javascript/Cargo.toml
Due: none

build(javascript): use consistent arrow version bound (#4372)
  javascript/Cargo.toml
Due: none

tweak docs
  docs/source/driver/postgresql.rst
Due: none

feat!(c/driver/postgresql): remove Redshift support
  c/driver/postgresql/connection.cc
  c/driver/postgresql/database.cc
  c/driver/postgresql/database.h
  c/driver/postgresql/statement.cc
Due: none

chore(rust): bump dep versions, crate edition and msrv
  rust/Cargo.lock
  rust/Cargo.toml
  rust/core/src/schemas.rs
  rust/core/src/sync.rs
  rust/driver/datafusion/src/lib.rs
  rust/driver/datafusion/tests/test_datafusion.rs
  rust/driver/dummy/src/lib.rs
  rust/driver/dummy/tests/driver_exporter_dummy.rs
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
  rust/driver_manager/tests/common/mod.rs
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/driver_manager_sqlite.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
  rust/ffi/src/driver_exporter.rs
  rust/ffi/src/lib.rs
  rust/ffi/src/options.rs
  rust/ffi/src/types.rs
Due: none

fix
  javascript/src/client.rs
  rust/driver/datafusion/Cargo.toml
Due: none

get pre-commit and cargo fmt to agree
  .pre-commit-config.yaml
  javascript/src/client.rs
  rust/driver/datafusion/Cargo.toml
Due: check-pin

feat!(c/driver/postgresql): remove Redshift support (#4365)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/database.cc
  c/driver/postgresql/database.h
  c/driver/postgresql/statement.cc
  docs/source/driver/postgresql.rst
Due: none

chore(rust): bump edition to 2024, MSRV to 1.85, and update dependencies (#4043)
  .pre-commit-config.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/core/src/schemas.rs
  rust/core/src/sync.rs
  rust/driver/datafusion/Cargo.toml
  rust/driver/datafusion/src/lib.rs
  rust/driver/datafusion/tests/test_datafusion.rs
  rust/driver/dummy/src/lib.rs
  rust/driver/dummy/tests/driver_exporter_dummy.rs
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
  rust/driver_manager/tests/common/mod.rs
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/driver_manager_sqlite.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
  rust/ffi/src/driver_exporter.rs
  rust/ffi/src/lib.rs
  rust/ffi/src/options.rs
  rust/ffi/src/types.rs
Due: check-pin

build(rust): enable compatibility with arrow 58 and 59
  rust/Cargo.lock
  rust/Cargo.toml
  rust/driver/datafusion/Cargo.toml
Due: none

docs: fix version switcher
  docs/source/_static/version.js
Due: none

test(java/driver/jni): expand test matrix
  .github/workflows/java.yml
  ci/scripts/python_wheel_windows_build.bat
Due: check-pin
