Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

feat(rust/driver_manager): pin to not unload lib on windows
  rust/driver_manager/Cargo.toml
  rust/driver_manager/src/lib.rs
Due: none

test(python/adbc_driver_postgresql): make GetObjects test tolerant of extra catalogs
  python/adbc_driver_postgresql/tests/test_dbapi.py
Due: none

fix(rust/driver_manager): don't dlclose drivers (#3844)
  rust/driver_manager/Cargo.toml
  rust/driver_manager/src/lib.rs
Due: none

feat(c/driver_manager): warn about potential non-printable driver (#3856)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

feat!(rust/ffi): catch panics at FFI boundary (#3819)
  .github/workflows/native-unix.yml
  python/adbc_driver_manager/tests/test_panic.py
  rust/driver/dummy/src/lib.rs
  rust/driver/dummy/tests/driver_exporter_dummy.rs
  rust/ffi/src/driver_exporter.rs
Due: check-pin

feat(python/adbc_driver_flightsql): add constants for OAuth options (#3849)
  .env
  .github/workflows/native-unix.yml
  ci/docker/oauth-server.dockerfile
  compose.yaml
  docs/source/driver/flight_sql.rst
  docs/source/python/recipe/flight_sql.rst
  docs/source/python/recipe/flightsql_oauth_client_credentials.py
  docs/source/python/recipe/flightsql_oauth_token_exchange.py
  go/adbc/driver/flightsql/cmd/oauthserver/main.go
  go/adbc/driver/flightsql/cmd/testserver/main.go
  python/adbc_driver_flightsql/adbc_driver_flightsql/__init__.py
  python/adbc_driver_flightsql/tests/conftest.py
Due: check-pin

fix(c/driver_manager): compare with correct iterator in SetOption (#3858)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/remamba.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

Update python/adbc_driver_postgresql/tests/test_dbapi.py
  python/adbc_driver_postgresql/tests/test_dbapi.py
Due: none

chore(java): bump to arrow-java 18.3.0
  java/pom.xml
Due: none

fix(c/driver/postgresql): honor GetObjects schema filter (#3855)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/postgresql_test.cc
  python/adbc_driver_postgresql/tests/test_dbapi.py
Due: none

chore(java): bump to arrow-java 18.3.0 (#3860)
  java/pom.xml
Due: none

chore: update CHANGELOG.md for 22
  CHANGELOG.md
Due: none

chore: update versions for 22
  c/cmake_modules/AdbcVersion.cmake
  c/meson.build
  ci/linux-packages/debian/changelog
  ci/linux-packages/yum/apache-arrow-adbc.spec.in
  csharp/Directory.Build.props
  docs/source/conf.py
  glib/meson.build
  java/core/pom.xml
  java/driver-manager/pom.xml
  java/driver/flight-sql-validation/pom.xml
  java/driver/flight-sql/pom.xml
  java/driver/jdbc-validation-derby/pom.xml
  java/driver/jdbc-validation-mssqlserver/pom.xml
  java/driver/jdbc-validation-postgresql/pom.xml
  java/driver/jdbc/pom.xml
  java/driver/jni/pom.xml
  java/driver/validation/pom.xml
  java/pom.xml
  java/sql/pom.xml
  python/adbc_driver_bigquery/adbc_driver_bigquery/_static_version.py
  python/adbc_driver_flightsql/adbc_driver_flightsql/_static_version.py
  python/adbc_driver_manager/adbc_driver_manager/_static_version.py
  python/adbc_driver_postgresql/adbc_driver_postgresql/_static_version.py
  python/adbc_driver_snowflake/adbc_driver_snowflake/_static_version.py
  python/adbc_driver_sqlite/adbc_driver_sqlite/_static_version.py
  r/adbcbigquery/DESCRIPTION
  r/adbcdrivermanager/DESCRIPTION
  r/adbcflightsql/DESCRIPTION
  r/adbcpostgresql/DESCRIPTION
  r/adbcsnowflake/DESCRIPTION
  r/adbcsqlite/DESCRIPTION
  ruby/lib/adbc/version.rb
Due: none

Update c/driver/postgresql/copy/writer.h
  c/driver/postgresql/copy/writer.h
Due: none

make the code easier to follow by using helper functions and adding comments
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/validation/queries/ingest/decimal.toml
  c/driver/postgresql/validation/queries/type/bind/decimal.toml
Due: none

fix(go/adbc/driver/snowflake): fix potential deadlocks in reader
  go/adbc/driver/snowflake/record_reader.go
Due: none

fix lint
  go/adbc/driver/snowflake/record_reader.go
Due: none

feat: Spec multi-result-set API
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

linting
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

fix tests
  c/driver_manager/adbc_version_100_compatibility_test.cc
  c/include/arrow-adbc/adbc.h
  r/adbcdrivermanager/src/radbc.cc
Due: check-cgo-adbc-header

pre-commit
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: none

override the decimal test expected schema
  c/driver/postgresql/validation/queries/ingest/decimal.toml
  c/driver/postgresql/validation/queries/ingest/decimal.txtcase
  c/driver/postgresql/validation/queries/type/bind/decimal.toml
  c/driver/postgresql/validation/queries/type/bind/decimal.txtcase
Due: none

feat(format): add AdbcDatabaseSetWarningHandler
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add AdbcErrorGetVendorCode
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(c/driver_manager): add connection profile interface
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  c/include/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

pre-commit linting
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: none

typos
  c/include/arrow-adbc/adbc_driver_manager.h
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

darn you windows
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

fix(go/adbc/driver/snowflake): fix potential deadlocks in reader (#3870)
  go/adbc/driver/snowflake/record_reader.go
Due: none

update test cases for ParseDriverURI
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

fix heap issue
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

some test fixes
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

more test fix
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

one more test leak
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

windows sucks
  c/driver_manager/adbc_driver_manager_test.cc
Due: none
