Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

feat(format): expose functions/procedures in catalog metadata
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add `constraint_expression` to GetObjects
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

add examples/definition
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Bump gosnowflake version (#113)
  go/adbc/go.mod
  go/adbc/go.sum
Due: none

Revert "build(c): work around clang making `__COUNTER__` a warning"
  c/driver/framework/statement.h
  c/driver/framework/status.h
  c/vendor/nanoarrow/nanoarrow.h
Due: none

Try other workaround
  c/driver/framework/base_driver.h
  c/driver/framework/connection.h
  c/driver/framework/objects.cc
  c/driver/framework/statement.h
  c/driver/framework/status.h
  c/driver/postgresql/connection.cc
  c/driver/postgresql/database.cc
  c/driver/sqlite/sqlite.cc
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/nanoarrow/nanoarrow.hpp
  c/vendor/vendor_nanoarrow.sh
Due: none

fix example
  docs/source/cpp/recipe_driver/driver_example.cc
Due: none

fix: respond to comments
  javascript/lib/index.ts
  javascript/lib/types.ts
  javascript/src/client.rs
Due: none

fix: support profile loading
  javascript/__test__/profile.spec.ts
  javascript/lib/types.ts
  javascript/src/client.rs
Due: none

use from_uri_with_opts
  javascript/lib/types.ts
  javascript/src/client.rs
Due: none

fix: fix test file path
  javascript/__test__/profile.spec.ts
Due: none

feat(rust/driver_manager): make some of the search and driver loading APIs pub instead of pub(crate)
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
Due: none

pre-commit linting
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

chore: remove black, flake8, and isort
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
Due: check-pin

style(c/driver/postgresql): reformat imports in validation tests
  c/driver/postgresql/validation/tests/test_connection.py
  c/driver/postgresql/validation/tests/test_ingest.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
Due: none

style(python/adbc_driver_bigquery): organize imports
  python/adbc_driver_bigquery/adbc_driver_bigquery/dbapi.py
  python/adbc_driver_bigquery/tests/test_dbapi.py
  python/adbc_driver_bigquery/tests/test_lowlevel.py
Due: none

style(glib): add ruff noqa directive for E501
  glib/tool/generate-version-header.py
Due: none

style: format python files with ruff
  dev/bench/run_bench.py
  docs/source/ext/doxygen_inventory.py
  glib/tool/generate-version-header.py
  python/adbc_driver_flightsql/tests/test_errors.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

chore: add ruff pre-commit hooks
  .pre-commit-config.yaml
  ruff.toml
Due: check-pin

ci(rust): remove unused flag for nightly clippy
  .github/workflows/rust.yml
Due: check-pin

ci(rust): ensure enable the flag for adbc_ffi
  .github/workflows/rust.yml
Due: check-pin

ci(rust): suppress unused_features error for non_exhaustive_omitted_patterns_lint
  .github/workflows/rust.yml
Due: check-pin

chore: test `non_exhaustive_omitted_patterns` works
  rust/ffi/src/options.rs
Due: none

Revert "chore: test `non_exhaustive_omitted_patterns` works"
  rust/ffi/src/options.rs
Due: none

feat(java/driver/jni): add executeSchema
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteStatementTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

Implement time32 and time64
  c/driver/postgresql/copy/reader.h
  c/driver/postgresql/copy/writer.h
Due: none

Adapt tests
  c/driver/postgresql/validation/queries/ingest/time_ms.txtcase
  c/driver/postgresql/validation/queries/ingest/time_ns.txtcase
  c/driver/postgresql/validation/queries/ingest/time_s.txtcase
  c/driver/postgresql/validation/queries/ingest/time_us.txtcase
  c/driver/postgresql/validation/queries/type/bind/time_ms.txtcase
  c/driver/postgresql/validation/queries/type/bind/time_ns.txtcase
  c/driver/postgresql/validation/queries/type/bind/time_us.txtcase
Due: none

ci(rust): suppress unused features error for unstable `non_exhaustive_omitted_patterns_lint` only used in `arrow_ffi` (#4055)
  .github/workflows/rust.yml
Due: check-pin

chore: replace black, flake8, and isort with ruff (#4054)
  .flake8
  .pre-commit-config.yaml
  c/driver/postgresql/validation/tests/test_connection.py
  c/driver/postgresql/validation/tests/test_ingest.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
  dev/bench/run_bench.py
  docs/source/ext/doxygen_inventory.py
  glib/tool/generate-version-header.py
  python/adbc_driver_bigquery/adbc_driver_bigquery/dbapi.py
  python/adbc_driver_bigquery/tests/test_dbapi.py
  python/adbc_driver_bigquery/tests/test_lowlevel.py
  python/adbc_driver_flightsql/tests/test_errors.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  ruff.toml
Due: check-pin

feat(java/driver/jni): add executeSchema (#4056)
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteStatementTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

build(c): work around clang making `__COUNTER__` a warning (#4044)
  c/driver/framework/base_driver.h
  c/driver/framework/connection.h
  c/driver/framework/objects.cc
  c/driver/framework/statement.h
  c/driver/framework/status.h
  c/driver/postgresql/connection.cc
  c/driver/postgresql/database.cc
  c/driver/sqlite/sqlite.cc
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/nanoarrow/nanoarrow.hpp
  c/vendor/vendor_nanoarrow.sh
  docs/source/cpp/recipe_driver/driver_example.cc
Due: none

refactor(python/adbc_driver_manager): add return type annotations
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/panictest.py
  python/adbc_driver_manager/tests/test_blocking.py
  python/adbc_driver_manager/tests/test_dbapi.py
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
  python/adbc_driver_manager/tests/test_lowlevel.py
  python/adbc_driver_manager/tests/test_polars.py
  python/adbc_driver_manager/tests/test_reader.py
Due: none

refactor(python/adbc_driver_manager): add return type annotations (#4058)
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/panictest.py
  python/adbc_driver_manager/tests/test_blocking.py
  python/adbc_driver_manager/tests/test_dbapi.py
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
  python/adbc_driver_manager/tests/test_lowlevel.py
  python/adbc_driver_manager/tests/test_polars.py
  python/adbc_driver_manager/tests/test_reader.py
Due: none

ci: bump Maven version used for some validation tests
  ci/scripts/verify_ubuntu.sh
Due: none

ci: bump Maven version used for some validation tests (#4059)
  ci/scripts/verify_ubuntu.sh
Due: none

feat(rust/driver_manager): make some functions and modules pub instead of pub(crate) (#4052)
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
Due: none

chore(go): bump Go version
  .env
  go/adbc/go.mod
Due: none

chore(go): bump Go version (#4060)
  .env
  go/adbc/go.mod
Due: none

ci: fix almalinux-8 build
  glib/tool/generate-version-header.py
Due: none

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
