Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

feat(c/include/arrow-adbc): Add AdbcStatementRequestSchema (#3623)
  c/driver_manager/adbc_driver_manager.cc
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Promote safe call headers into FlightSQL spans
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/tracing.go
  go/adbc/driver/flightsql/tracing_test.go
Due: none

chore(javascript): bump js-yaml
  javascript/package-lock.json
Due: none

chore(javascript): bump js-yaml (#4571)
  javascript/package-lock.json
Due: none

chore: update CHANGELOG.md for 24
  CHANGELOG.md
Due: none

chore: update versions for 24
  c/cmake_modules/AdbcVersion.cmake
  c/meson.build
  ci/linux-packages/debian/changelog
  ci/linux-packages/yum/apache-arrow-adbc.spec.in
  csharp/Directory.Build.props
  docs/source/conf.py
  glib/meson.build
  java/core/pom.xml
  java/driver-manager/pom.xml
  java/driver/flight-sql-validation/pom.xml
  java/driver/flight-sql/pom.xml
  java/driver/jdbc-validation-derby/pom.xml
  java/driver/jdbc-validation-mssqlserver/pom.xml
  java/driver/jdbc-validation-postgresql/pom.xml
  java/driver/jdbc/pom.xml
  java/driver/jni-validation/pom.xml
  java/driver/jni/pom.xml
  java/driver/validation/pom.xml
  java/pom.xml
  java/sql/pom.xml
  javascript/npm/darwin-arm64/package.json
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-arm64-gnu/package.json
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/package.json
  javascript/package-lock.json
  python/adbc_driver_flightsql/adbc_driver_flightsql/_static_version.py
  python/adbc_driver_manager/adbc_driver_manager/_static_version.py
  python/adbc_driver_postgresql/adbc_driver_postgresql/_static_version.py
  python/adbc_driver_sqlite/adbc_driver_sqlite/_static_version.py
  r/adbcdrivermanager/DESCRIPTION
  r/adbcflightsql/DESCRIPTION
  r/adbcpostgresql/DESCRIPTION
  r/adbcsqlite/DESCRIPTION
  ruby/lib/adbc/version.rb
Due: none

chore(go/adbc): factor defer-friendly telemetry span helper
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/shared_utils.go
Due: none

ci: release workflow needs `contents: write`
  .github/workflows/packaging.yml
Due: check-pin

improve glib_test.sh script
  ci/scripts/glib_test.sh
Due: none

ci: release workflow needs `contents: write` (#4576)
  .github/workflows/packaging.yml
Due: check-pin

address deprication warning for bundle config with a subcommand
  ci/scripts/glib_test.sh
Due: none

revert change to bundle config
  ci/scripts/glib_test.sh
Due: none

some refactoring
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlConnection.java
Due: none

chore(dev/release): duplicate, not overwrite, yum repo
  dev/release/verify-yum.sh
Due: none

chore(dev/release): duplicate, not overwrite, yum repo (#4577)
  dev/release/verify-yum.sh
Due: none

build(java/driver/jni): force static linking
  .github/workflows/packaging.yml
Due: check-pin

build(java/driver/jni): force static linking (#4582)
  .github/workflows/packaging.yml
Due: check-pin

fix(dev/release): call conda init before conda activate
  dev/release/verify-release-candidate.sh
Due: none

chore(go/adbc): factor defer-friendly telemetry span helper (#4575)
  ci/scripts/glib_test.sh
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/shared_utils.go
Due: none

pass env vars down into cibuildwheel container
  .github/workflows/packaging.yml
Due: check-pin

some refactoring
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlDatabase.java
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlDriver.java
  java/driver/flight-sql/src/test/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlDriverUriTest.java
Due: none

comments
  java/driver/flight-sql/src/test/java/org/apache/arrow/adbc/driver/flightsql/TlsTest.java
Due: none

fix(c/driver/postgresql): improve SQLSTATE error mapping
  c/driver/postgresql/CMakeLists.txt
  c/driver/postgresql/error.cc
  c/driver/postgresql/error.h
  c/driver/postgresql/error_test.cc
  c/driver/postgresql/postgresql_test.cc
Due: none

ci: pass env vars down into cibuildwheel container (#4585)
  .github/workflows/packaging.yml
Due: check-pin

feat(format): formalize vendor type name metadata (#4550)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Fix build on Windows-ARM64 Fixes #4590
  c/driver_manager/adbc_driver_manager.cc
Due: none

Add tests
  go/adbc/driver/flightsql/flightsql_adbc_server_test.go
Due: none

Add latest changes from Arrow Go PR
  go/adbc/driver/flightsql/flightsql_statement.go
Due: none

Add new network flow to ADBC Go Statement.ExecuteQuery() for prepared statements
  go/adbc/driver/flightsql/flightsql_statement.go
Due: none

Add new network route via cursor.execute()
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

Expose new option to read the value of the field is_update in ActionCreatePreparedStatementResult
  go/adbc/driver/flightsql/flightsql_statement.go
  python/adbc_driver_flightsql/adbc_driver_flightsql/__init__.py
Due: none

Revert changes on Python drivers
  go/adbc/driver/flightsql/flightsql_statement.go
  python/adbc_driver_flightsql/adbc_driver_flightsql/__init__.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

test(go/adbc/driver/flightsql): bind to any free port
  go/adbc/driver/flightsql/example_usage_test.go
Due: none

copy over to go copy as well
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

build(c/driver_manager): fix build on Windows-ARM64 (#4591)
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

fix(c/driver/postgresql): improve SQLSTATE error mapping (#4587)
  c/driver/postgresql/CMakeLists.txt
  c/driver/postgresql/error.cc
  c/driver/postgresql/error.h
  c/driver/postgresql/error_test.cc
  c/driver/postgresql/postgresql_test.cc
Due: none

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
