Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

docs: fix minor issues in profiles and manifests docs (#4007)
  docs/source/format/connection_profiles.rst
  docs/source/format/driver_manifests.rst
Due: none

feat(java/driver/jni): add executeSchema (#4056)
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteStatementTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
Due: none

chore: replace black, flake8, and isort with ruff (#4054)
  .flake8
  .pre-commit-config.yaml
  c/driver/postgresql/validation/tests/test_connection.py
  c/driver/postgresql/validation/tests/test_ingest.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
  dev/bench/run_bench.py
  docs/source/ext/doxygen_inventory.py
  glib/tool/generate-version-header.py
  python/adbc_driver_bigquery/adbc_driver_bigquery/dbapi.py
  python/adbc_driver_bigquery/tests/test_dbapi.py
  python/adbc_driver_bigquery/tests/test_lowlevel.py
  python/adbc_driver_flightsql/tests/test_errors.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  ruff.toml
Due: check-pin

fix(rust/driver_manager): try to fix flaky test (#4028)
  rust/Cargo.lock
  rust/driver_manager/Cargo.toml
  rust/driver_manager/src/search.rs
  rust/driver_manager/tests/connection_profile.rs
Due: none

feat(javascript): return Arrow Table by default in AdbcConnection (#4091)
  javascript/README.md
  javascript/__test__/error_handling.spec.ts
  javascript/__test__/metadata.spec.ts
  javascript/__test__/profile.spec.ts
  javascript/__test__/query.spec.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
Due: none

feat(c/driver_manager,rust/driver_manager): improve profile/manifest consistency (#4083)
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  c/include/arrow-adbc/adbc_driver_manager.h
  ci/scripts/python_venv_test.sh
  docs/source/format/connection_profiles.rst
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
  javascript/__test__/profile.spec.ts
  python/adbc_driver_manager/tests/test_profile.py
  rust/driver_manager/src/profile.rs
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
Due: check-cgo-adbc-header

feat(python/adbc_driver_manager): allow ``connect(profile="foo")`` (#4078)
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

fix(rust/driver_manager): fix clippy warning (#4073)
  rust/driver_manager/src/lib.rs
Due: none

refactor(python/adbc_driver_manager): add return type annotations (#4058)
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/panictest.py
  python/adbc_driver_manager/tests/test_blocking.py
  python/adbc_driver_manager/tests/test_dbapi.py
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
  python/adbc_driver_manager/tests/test_lowlevel.py
  python/adbc_driver_manager/tests/test_polars.py
  python/adbc_driver_manager/tests/test_reader.py
Due: none

feat(javascript): add npm publishing workflow and release scripts (#4076)
  .github/workflows/javascript.yml
  .github/workflows/packaging.yml
  ci/scripts/node_npm_upload.sh
  dev/release/02-sign.sh
  dev/release/post-09-npm.sh
  dev/release/post-10-remove-old-artifacts.sh
  dev/release/post-11-announce.sh
  dev/release/post-12-bump-versions.sh
  dev/release/post-13-website.sh
  dev/release/utils-prepare.sh
  dev/release/versions.env
  docs/source/development/releasing.rst
  javascript/.gitignore
  javascript/Cargo.toml
  javascript/binding.js
  javascript/npm/darwin-arm64/package.json
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-arm64-gnu/package.json
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/package.json
  javascript/package-lock.json
  javascript/package.json
Due: check-pin

fix(c/driver_manager): test and fix bugs in profiles (#4080)
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  c/driver/framework/connection.h
  c/driver/sqlite/sqlite.cc
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/conftest.py
  python/adbc_driver_manager/tests/test_profile.py
Due: check-pin

ci: fix gemfury push for Node.js packages (#4097)
  ci/scripts/node_npm_upload.sh
  javascript/README.md
Due: none

ci: fix almalinux-8 build (#4061)
  glib/tool/generate-version-header.py
Due: none

refactor(c/driver_manager): InternalAdbcUserConfigDir should return parent path (#4084)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
Due: none

ci: bump Maven version used for some validation tests (#4059)
  ci/scripts/verify_ubuntu.sh
Due: none

ci: fix Python verification (#4095)
  .github/workflows/nightly-verify.yml
  ci/docker/python-debug.sh
  ci/scripts/verify_ubuntu.sh
  dev/release/verify-release-candidate.ps1
  dev/release/verify-release-candidate.sh
Due: check-pin

chore(go): bump Go version (#4060)
  .env
  go/adbc/go.mod
Due: none

feat(rust/driver_manager): make some functions and modules pub instead of pub(crate) (#4052)
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
Due: none

feat(python/adbc_driver_manager): add GetStatistics support (#4129)
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyi
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_dbapi.py
  python/adbc_driver_postgresql/tests/test_dbapi.py
Due: none

fix(python/adbc_driver_manager): load from venv/etc/adbc/profiles (#4118)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_api.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_profile.py
Due: none

feat(javascript): add support for streaming ingest (#4125)
  javascript/__test__/ingest.spec.ts
  javascript/binding.d.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
  javascript/src/client.rs
  javascript/src/lib.rs
Due: none

revert(csharp/src/Telemetry): re-enable compile-time JSON serializer context for trace activity (#4132)
  csharp/src/Telemetry/Traces/Exporters/FileExporter/FileExporter.cs
  csharp/src/Telemetry/Traces/Listeners/FileListener/ActivityProcessor.cs
  csharp/src/Telemetry/Traces/Listeners/FileListener/SerializableActivitySerializerContext.cs
  csharp/test/Telemetry/Traces/Listeners/FileListener/SerializableActivityTests.cs
Due: none

chore(ruby): update gemspec to use homebrew apache-arrow-adbc-glib (#4128)
  ruby/red-adbc.gemspec
Due: none

feat: add convenience API for bulk ingest (#4116)
  javascript/__test__/bind.spec.ts
  javascript/__test__/ingest.spec.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
  javascript/src/client.rs
Due: none

ci: build windows artifacts in release mode in packaging workflow (#4099)
  .github/workflows/packaging.yml
  ci/scripts/cpp_build.sh
  ci/scripts/java_jni_build.sh
Due: check-pin

feat(csharp/src/Telemetry/Traces/Listeners): add parameter identifiers for adbcfile options (#4119)
  csharp/src/Telemetry/Traces/Listeners/ListenersOptions.cs
Due: none

feat(python/adbc_driver_manager): allow more types in init (#4088)
  c/driver/sqlite/sqlite.cc
  docs/source/format/connection_profiles.rst
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyi
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/tests/test_lowlevel.py
  python/adbc_driver_manager/tests/test_profile.py
Due: none

fix: ensure package-lock.json is up to date (#4123)
  .github/workflows/javascript.yml
  javascript/package-lock.json
Due: check-pin

feat(rust/driver_manager): reconcile with C++ driver manager (#4121)
  docs/source/format/connection_profiles.rst
  docs/source/format/driver_manifests.rst
  docs/source/glossary.rst
  javascript/__test__/profile.spec.ts
  javascript/binding.d.ts
  javascript/lib/types.ts
  javascript/src/client.rs
  javascript/src/lib.rs
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/src/search.rs
  rust/driver_manager/tests/common/mod.rs
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
Due: none

ci(javascript): fix flaky msvc test (#4127)
  ci/scripts/node_build.sh
Due: none

build(c): use .dylib for Go driver versioned shared libraries (#4126)
  c/cmake_modules/GoUtils.cmake
Due: none

test(c/driver_manager): fully test driver/uri/profile combinations (#4092)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_api.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  python/adbc_driver_manager/tests/test_profile.py
Due: none

build: increase manylinux requirement to 2_28 from 2014 (#4146)
  .env
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/python_sdist_test.sh
  ci/scripts/python_util.sh
  ci/scripts/python_wheel_unix_build.sh
  ci/scripts/python_wheel_unix_relocate.sh
  docs/source/driver/sqlite.rst
Due: none

fix(csharp/src/Client): clear cached record batch in Read() to prevent stale data on exception (#4133)
  csharp/src/Client/AdbcDataReader.cs
Due: none

chore(rust/driver/datafusion): bump datafusion to 53.0.0 (#4142)
  rust/Cargo.lock
  rust/driver/datafusion/Cargo.toml
Due: none

build(python/adbc_driver_sqlite): enable optional features (#4147)
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/python_util.sh
  ci/scripts/python_wheel_windows_build.bat
  python/adbc_driver_sqlite/tests/test_dbapi.py
Due: none

ci: fix gemfury page kind key (#4150)
  ci/scripts/gemfury_clean.py
Due: none

chore: remove unnecessary setup-msbuild step (#4149)
  .github/workflows/native-windows.yml
Due: check-pin

chore: document post release task for brew (#4131)
  docs/source/development/releasing.rst
Due: none
