Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

attempt fix to c lang build errors on Mac
  c/driver/framework/status.h
Due: none

ci: add Go/CGO to vcpkg and Windows-on-ARM tests (#4728)
  .github/workflows/native-vcpkg.yml
  ci/scripts/go_test.ps1
Due: check-pin

refactor(c/driver/framework): ignore -Wunused-template (#4727)
  c/driver/framework/status.h
Due: none

feat(kotoba): add in-language ADBC status/error binding
  .gitattributes
  .github/workflows/kotoba.yml
  .gitignore
  CONTRIBUTING.md
  ci/scripts/kotoba_install.sh
  ci/scripts/kotoba_test.sh
  docs/source/client_libraries.rst
  docs/source/index.rst
  docs/source/kotoba/index.rst
  docs/source/kotoba/quickstart.rst
  kotoba/README.md
  kotoba/adbc/connection.kotoba
  kotoba/adbc/error.kotoba
  kotoba/adbc/status.kotoba
  kotoba/fixtures/error.kotoba
  kotoba/fixtures/mock_connection.kotoba
  kotoba/fixtures/status.kotoba
  kotoba/kotoba-project.edn
  kotoba/kotoba.lock.edn
  kotoba/kotoba.trust.edn
  kotoba/run_fixture.mjs
Due: check-pin

revert previous fix as [[maybe_unused]] attribute is preferred
  c/driver/framework/status.h
Due: none

refactor(go/adbc): new utility method StartSpanWithEndSpanHelper (#4725)
  c/driver/framework/status.h
  go/adbc/driver/flightsql/flightsql_bulk_ingest.go
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/flightsql/tracing_test.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/shared_utils.go
Due: none

chore: fix various errors in the proposed APIs
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add generic metadata API
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

clarifications
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

docs: add presto to drivers table
  docs/source/driver/index.rst
Due: none

docs: fix order
  docs/source/driver/index.rst
Due: none

docs: add adbcBridge to the Tools & Integrations page
  docs/source/integrations.rst
Due: none

fix: use context manager to create connection
  docs/source/integrations.rst
Due: none

docs: rephrase
  docs/source/integrations.rst
Due: none

docs: add presto to drivers table (#4732)
  docs/source/driver/index.rst
Due: none

chore: fix various errors in the proposed APIs (#4731)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

docs: add adbcBridge to the Tools & Integrations page (#4733)
  docs/source/integrations.rst
Due: none

fix(python/adbc_driver_manager): align typed getter key types
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/tests/test_lowlevel.py
Due: none

feat(java/driver/flight-sql): add session management
  java/driver/flight-sql/pom.xml
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlClientWithCallOptions.java
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlConnection.java
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlConnectionProperties.java
  java/driver/flight-sql/src/main/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlSessionUtil.java
  java/driver/flight-sql/src/test/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlSessionEdgeCaseTest.java
  java/driver/flight-sql/src/test/java/org/apache/arrow/adbc/driver/flightsql/FlightSqlSessionTest.java
  java/pom.xml
Due: none

feat(go/adbc): require go1.26 and bump toolchain to 1.26.8
  .env
  go/adbc/go.mod
Due: none

fix(python/adbc_driver_manager): allow more key types in get_option (#4734)
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyx
  python/adbc_driver_manager/tests/test_lowlevel.py
Due: none

feat(c/driver/postgresql): set use_copy on connect
  c/driver/postgresql/connection.cc
  c/driver/postgresql/connection.h
  c/driver/postgresql/database.cc
  c/driver/postgresql/database.h
  c/driver/postgresql/postgres_util.h
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/statement.cc
  c/driver/postgresql/statement.h
  c/validation/adbc_validation_util.cc
  c/validation/adbc_validation_util.h
Due: none

chore(go/adbc): allow symbol table and debug info to be included in go libraries
  csharp/src/Drivers/Interop/FlightSql/Build-FlightSqlDriver.ps1
  go/adbc/pkg/Makefile
Due: none

ensure debug symbols and info always generated
  csharp/src/Drivers/Interop/FlightSql/Build-FlightSqlDriver.ps1
  go/adbc/pkg/Makefile
Due: none

feat(c/driver/postgresql): set use_copy on connect (#4750)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/connection.h
  c/driver/postgresql/database.cc
  c/driver/postgresql/database.h
  c/driver/postgresql/postgres_util.h
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/statement.cc
  c/driver/postgresql/statement.h
  c/validation/adbc_validation_util.cc
  c/validation/adbc_validation_util.h
Due: none

chore(go/adbc): allow symbol table and debug info to be included in go libraries (#4752)
  csharp/src/Drivers/Interop/FlightSql/Build-FlightSqlDriver.ps1
  go/adbc/pkg/Makefile
Due: none

feat(go/adbc): require go1.26 and bump toolchain to 1.26.8 (#4748)
  .env
  go/adbc/go.mod
Due: none

lint
  dev/release/rat_exclude_files.txt
  go/driver/flightsql/flightsql_adbc_server_test.go
  go/driver/flightsql/record_reader.go
  go/driver/internal/driverbase/driver_test.go
Due: none

update paths
  .pre-commit-config.yaml
  c/driver/flightsql/CMakeLists.txt
  c/driver/flightsql/meson.build
  compose.yaml
Due: check-pin

update paths
  r/adbcflightsql/configure
  r/adbcflightsql/src/Makevars.in
  r/tools/bootstrap-go.R
Due: none

update more paths
  .github/workflows/native-unix.yml
  ci/scripts/go_build.ps1
  ci/scripts/go_test.ps1
  docs/source/driver/flight_sql.rst
  docs/source/driver/index.rst
Due: check-pin

update regenerate command
  go/adbc/pkg/Makefile
  go/adbc/pkg/_tmpl/driver.go.tmpl
  go/adbc/pkg/_tmpl/utils.h.tmpl
  go/adbc/pkg/gen/main.go
Due: none

update licenses command
  ci/licenses/README.md
  ci/licenses/flightsql.txt
  python/adbc_driver_flightsql/LICENSE.txt
Due: none

lint
  ci/licenses/flightsql.txt
  python/adbc_driver_flightsql/LICENSE.txt
Due: none

comments
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header
