Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

smallest of tweaks
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

build(c/driver/sqlite): work around macOS modifications to sqlite
  c/driver/sqlite/sqlite.cc
Due: none

fix
  c/driver/sqlite/sqlite.cc
Due: none

more macos chicanery
  c/driver/sqlite/sqlite.cc
Due: none

docs: use new logo and add visual identity page
  dev/release/rat_exclude_files.txt
  docs/source/_static/css/custom.css
  docs/source/_static/visual_identity/adbc-hex-badge-do.png
  docs/source/_static/visual_identity/adbc-hex-badge-do.svg
  docs/source/_static/visual_identity/adbc-hex-badge-dont.png
  docs/source/_static/visual_identity/adbc-hex-badge-dont.svg
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-hex-badge.png
  docs/source/_static/visual_identity/adbc-hex-badge.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal.svg
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.png
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-logomark.png
  docs/source/_static/visual_identity/adbc-logomark.svg
  docs/source/_templates/sidebar/brand.html
  docs/source/_templates/visual_identity/adbc-hex-badge-currentcolor.svg
  docs/source/_templates/visual_identity/adbc-lockup-horizontal-currentcolor.svg
  docs/source/_templates/visual_identity/adbc-logomark-currentcolor.svg
  docs/source/conf.py
  docs/source/index.rst
  docs/source/visual_identity.rst
Due: none

fix: correct language in construction grids
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.svg
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.png
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.svg
Due: none

docs: improve new logo
  docs/source/_static/visual_identity/adbc-hex-badge-do.png
  docs/source/_static/visual_identity/adbc-hex-badge-do.svg
  docs/source/_static/visual_identity/adbc-hex-badge-dont.png
  docs/source/_static/visual_identity/adbc-hex-badge-dont.svg
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-hex-badge.png
  docs/source/_static/visual_identity/adbc-hex-badge.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal.svg
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.png
  docs/source/_static/visual_identity/adbc-logomark-dimetric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-logomark-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-logomark-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-logomark.png
  docs/source/_static/visual_identity/adbc-logomark.svg
  docs/source/_templates/visual_identity/adbc-hex-badge-currentcolor.svg
  docs/source/_templates/visual_identity/adbc-lockup-horizontal-currentcolor.svg
  docs/source/_templates/visual_identity/adbc-logomark-currentcolor.svg
  docs/source/visual_identity.rst
Due: none

build(c/driver/sqlite): work around macOS modifications to sqlite (#4860)
  c/driver/sqlite/sqlite.cc
Due: none

python: drop support for Python 3.10 (EOL)
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  .github/workflows/packaging.yml
  ci/scripts/install_python.sh
  ci/scripts/python_util.sh
  ci/scripts/verify_ubuntu.sh
  dev/release/verify-release-candidate.ps1
  dev/release/verify-release-candidate.sh
  python/adbc_driver_flightsql/pyproject.toml
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_postgresql/pyproject.toml
  python/adbc_driver_sqlite/pyproject.toml
Due: check-pin

test(c/driver/postgresql): use hypothesis to test decimal ingest
  .github/workflows/integration.yml
  c/driver/postgresql/validation/pyproject.toml
  c/driver/postgresql/validation/tests/conftest.py
  c/driver/postgresql/validation/tests/postgresql.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
  c/driver/postgresql/validation/uv.lock
Due: check-pin

chore(python): drop support for Python 3.10 (EOL) (#4859)
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  .github/workflows/packaging.yml
  ci/scripts/install_python.sh
  ci/scripts/python_util.sh
  ci/scripts/verify_ubuntu.sh
  dev/release/verify-release-candidate.ps1
  dev/release/verify-release-candidate.sh
  python/adbc_driver_flightsql/pyproject.toml
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_postgresql/pyproject.toml
  python/adbc_driver_sqlite/pyproject.toml
Due: check-pin

test(c/driver/postgresql): use hypothesis to test decimal ingest (#4852)
  .github/workflows/integration.yml
  c/driver/postgresql/validation/pyproject.toml
  c/driver/postgresql/validation/tests/conftest.py
  c/driver/postgresql/validation/tests/postgresql.py
  c/driver/postgresql/validation/tests/test_query.py
  c/driver/postgresql/validation/tests/test_statement.py
  c/driver/postgresql/validation/uv.lock
Due: check-pin

switch to AdbcSerializableHandle
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): partitioned bulk ingest spec and C API surface
  c/include/arrow-adbc/adbc.h
  docs/source/format/partitioned_bulk_ingest.rst
  docs/source/index.rst
Due: check-cgo-adbc-header

address pr comments
  c/include/arrow-adbc/adbc.h
  docs/source/format/partitioned_bulk_ingest.rst
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat: make functions stament-level
  c/include/arrow-adbc/adbc.h
  docs/source/format/partitioned_bulk_ingest.rst
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat: add Complete outcome parameter
  c/include/arrow-adbc/adbc.h
  docs/source/format/partitioned_bulk_ingest.rst
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

docs: update favicon
  docs/source/_static/apple-touch-icon.png
  docs/source/_static/favicon.ico
  docs/source/_static/favicon.svg
  docs/source/_templates/base.html
  docs/source/conf.py
Due: none

docs: fix svg bottom edge problem
  docs/source/_static/css/custom.css
Due: none

docs: improve visual identity page and images
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-hex-badge.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal.svg
  docs/source/_static/visual_identity/adbc-logomark-circle-do.png
  docs/source/_static/visual_identity/adbc-logomark-circle-do.svg
  docs/source/_static/visual_identity/adbc-logomark-circle-dont.png
  docs/source/_static/visual_identity/adbc-logomark-circle-dont.svg
  docs/source/_static/visual_identity/adbc-logomark.svg
  docs/source/_templates/visual_identity/adbc-lockup-horizontal-currentcolor.svg
  docs/source/visual_identity.rst
Due: none

fix(rust/ffi): don't assume errors have extended info
  rust/ffi/src/driver_exporter.rs
Due: none

fix(rust/ffi): clear release callback on partitions after release
  rust/ffi/src/types.rs
Due: none

fix(rust/ffi)!: require `Send` for exported types
  rust/ffi/src/driver_exporter.rs
Due: none

fix(rust/ffi): clear release callback on partitions after release (#4873)
  rust/ffi/src/types.rs
Due: none

fix(rust/ffi): don't assume errors have extended info (#4872)
  rust/ffi/src/driver_exporter.rs
Due: none

fix(rust/driver_manager): allow cancel to be truly concurrent
  rust/driver_manager/src/lib.rs
  rust/driver_manager/tests/cancellation.rs
  rust/ffi/src/options.rs
Due: none

fix(rust/driver_manager): allow cancel to be truly concurrent (#4858)
  rust/driver_manager/src/lib.rs
  rust/driver_manager/tests/cancellation.rs
  rust/ffi/src/options.rs
Due: none

fix(rust/ffi)!: require `Send` for exported types (#4874)
  rust/ffi/src/driver_exporter.rs
Due: none

test(rust): run miri tests
  .github/workflows/rust.yml
Due: check-pin

fix(rust/ffi)!: importing partitions is unsafe
  rust/driver_manager/src/lib.rs
  rust/ffi/src/lib.rs
  rust/ffi/src/types.rs
Due: none

test(rust): run miri tests (#4861)
  .github/workflows/rust.yml
Due: check-pin

fix(rust/ffi): avoid undefined behavior in exported drivers
  .github/workflows/rust.yml
  rust/driver_manager/tests/cancellation.rs
  rust/driver_manager/tests/common/dummy.rs
  rust/driver_manager/tests/common/mod.rs
  rust/driver_manager/tests/exporter_cancellation.rs
  rust/ffi/src/driver_exporter.rs
Due: check-pin

fix(rust/ffi): avoid potential overlapping &mut in exporter
  rust/driver_manager/tests/common/dummy.rs
  rust/driver_manager/tests/exporter_cancellation.rs
  rust/ffi/src/driver_exporter.rs
Due: none

docs: update copyright notice in footer
  docs/source/conf.py
Due: none

fix(c/driver/sqlite): preserve double precision on string upcast
  c/driver/sqlite/sqlite_test.cc
  c/driver/sqlite/statement_reader.c
Due: none

fix(c/driver/sqlite): preserve double round-trip precision
  c/driver/sqlite/sqlite_test.cc
  c/driver/sqlite/statement_reader.c
Due: none

docs: improve logo proposal in response to feedback
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.png
  docs/source/_static/visual_identity/adbc-hex-badge-isometric-construction-grid.svg
  docs/source/_static/visual_identity/adbc-hex-badge.png
  docs/source/_static/visual_identity/adbc-hex-badge.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-construction-grid.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-do.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker-dont.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal-sticker.svg
  docs/source/_static/visual_identity/adbc-lockup-horizontal.png
  docs/source/_static/visual_identity/adbc-lockup-horizontal.svg
  docs/source/_templates/visual_identity/adbc-hex-badge-currentcolor.svg
  docs/source/_templates/visual_identity/adbc-lockup-horizontal-currentcolor.svg
  docs/source/visual_identity.rst
Due: none

test(sqlite): compare precision against stored values
  c/driver/sqlite/sqlite_test.cc
Due: none

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
