Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

Lint fix
  csharp/src/Drivers/Databricks/RetryHttpHandler.cs
Due: none

Minimised logging for the retry handlers
  csharp/src/Drivers/Databricks/RetryHttpHandler.cs
Due: none

Corrected datetime logic
  csharp/src/Drivers/Databricks/RetryHttpHandler.cs
Due: none

fix(c/driver/postgresql): handle overflow on binary-like fields
  c/driver/postgresql/copy/postgres_copy_reader_test.cc
  c/driver/postgresql/copy/reader.h
Due: none

Added logs for each retry attempt
  csharp/src/Drivers/Databricks/RetryHttpHandler.cs
Due: none

fix(c/driver/postgresql): handle overflow on binary-like fields (#3616)
  c/driver/postgresql/copy/postgres_copy_reader_test.cc
  c/driver/postgresql/copy/reader.h
Due: none

fix(python/adbc_driver_manager): update type annotations (#3603)
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyi
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
Due: none

build(python): provide wheels for Python 3.14/3.14t
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  .github/workflows/packaging.yml
Due: check-pin

telemetry lld
  csharp/src/Drivers/Databricks/Telemetry/prompts.txt
  csharp/src/Drivers/Databricks/Telemetry/telemetry-integration-lld-design.md
  csharp/src/Drivers/Databricks/Telemetry/telemetry-lld-summary.md
Due: none

Add support for setting quota project
  go/adbc/driver/bigquery/bigquery_database.go
  go/adbc/driver/bigquery/connection.go
  go/adbc/driver/bigquery/driver.go
Due: none

Add support for setting quota project (#81)
  go/adbc/driver/bigquery/bigquery_database.go
  go/adbc/driver/bigquery/connection.go
  go/adbc/driver/bigquery/driver.go
Due: none

request schema
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

add more language
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

fix
  csharp/src/Drivers/Apache/Hive2/HiveServer2Connection.cs
  csharp/src/Drivers/Databricks/DatabricksConnection.cs
Due: none

Refactor CreateSessionRequest to use TraceActivity instead of Activity.Current
  csharp/src/Drivers/Databricks/DatabricksConnection.cs
Due: none

Add activity based design
  csharp/src/Drivers/Databricks/Telemetry/telemetry-activity-based-design.md
Due: none

Added design docs for implementation of straggle download mitigation
  csharp/src/Drivers/Databricks/Reader/CloudFetch/prompts.txt
  csharp/src/Drivers/Databricks/Reader/CloudFetch/straggler-mitigation-integration-v2.md
  csharp/src/Drivers/Databricks/Reader/CloudFetch/straggler-mitigation-summary.md
Due: none

Update telemetry-activity-based-design.md
  csharp/src/Drivers/Databricks/Telemetry/telemetry-activity-based-design.md
Due: none

ci: update tested Java versions
  .github/workflows/java.yml
Due: check-pin

feat(go/adbc/driver/bigquery): Support setting quota project for connection (#3622)
  go/adbc/driver/bigquery/bigquery_database.go
  go/adbc/driver/bigquery/connection.go
  go/adbc/driver/bigquery/driver.go
Due: none

why is linux not in the matrix?
  .github/workflows/java.yml
Due: check-pin

just be explicit
  .github/workflows/java.yml
Due: check-pin

ci: update tested Java versions (#3641)
  .github/workflows/java.yml
Due: check-pin

build(c/driver/postgresql): include portable-snippets
  c/driver/postgresql/CMakeLists.txt
  c/vendor/portable-snippets/include/portable-snippets/safe-math.h
  dev/release/rat_exclude_files.txt
Due: none

r?
  r/adbcpostgresql/src/Makevars.in
  r/adbcpostgresql/src/Makevars.ucrt
  r/adbcpostgresql/src/Makevars.win
Due: none

Updated doc to handle edge cases
  csharp/src/Drivers/Databricks/Reader/CloudFetch/prompts.txt
  csharp/src/Drivers/Databricks/Reader/CloudFetch/straggler-mitigation-integration-v2.md
  csharp/src/Drivers/Databricks/Reader/CloudFetch/straggler-mitigation-summary.md
Due: none

feat(cloudfetch): Implement straggler download detection and mitigation
  csharp/src/Drivers/Databricks/DatabricksParameters.cs
  csharp/src/Drivers/Databricks/Reader/CloudFetch/CloudFetchDownloader.cs
  csharp/src/Drivers/Databricks/Reader/CloudFetch/FileDownloadMetrics.cs
  csharp/src/Drivers/Databricks/Reader/CloudFetch/StragglerDownloadDetector.cs
Due: none

test(cloudfetch): Add tests for straggler download mitigation
  csharp/test/Drivers/Databricks/E2E/CloudFetch/CloudFetchStragglerE2ETests.cs
  csharp/test/Drivers/Databricks/Unit/CloudFetchStragglerUnitTests.cs
Due: none

revert(csharp/src/Drivers/BigQuery): Reverted changes from BigQuery cancellation
  csharp/src/Drivers/Apache/ApacheUtility.cs
  csharp/src/Drivers/BigQuery/BigQueryStatement.cs
  csharp/src/Drivers/BigQuery/BigQueryUtils.cs
  csharp/src/Drivers/BigQuery/RetryManager.cs
  csharp/test/Drivers/Apache/Common/ApacheUtilsTests.cs
  csharp/test/Drivers/BigQuery/BigQueryUtilsTests.cs
  csharp/test/Drivers/BigQuery/StatementTests.cs
Due: none

add appropriate binding flags
  csharp/test/Drivers/BigQuery/StatementTests.cs
Due: none

feat(csharp/src/Drivers/Databricks): Design of SEA support for Databricks C# driver (#3576)
  csharp/src/Drivers/Databricks/statement-execution-api-design.md
Due: none

fix(csharp/src/Apache.Arrow.Adbc): Expose extensions to package in NuGet (#3609)
  csharp/src/Apache.Arrow.Adbc/Extensions/ListArrayExtensions.cs
  csharp/src/Apache.Arrow.Adbc/Extensions/StandardSchemaExtensions.cs
Due: none

fix(csharp/src/Drivers/BigQuery): improve selective handling of cancellation exception (#3615)
  csharp/src/Drivers/BigQuery/BigQueryStatement.cs
  csharp/src/Drivers/BigQuery/RetryManager.cs
Due: none

address comments
  csharp/src/Drivers/Databricks/Telemetry/prompts.txt
  csharp/src/Drivers/Databricks/Telemetry/telemetry-activity-based-design.md
  csharp/src/Drivers/Databricks/Telemetry/telemetry-integration-lld-design.md
  csharp/src/Drivers/Databricks/Telemetry/telemetry-lld-summary.md
Due: none

feat(cloudfetch): Implement sequential download fallback using secondary semaphore
  csharp/src/Drivers/Databricks/Reader/CloudFetch/CloudFetchDownloader.cs
Due: none

Fix straggler mitigation implementation issues
  csharp/src/Drivers/Databricks/Reader/CloudFetch/CloudFetchDownloader.cs
Due: none

feat(c/driver_manager): improve error messages further
  c/driver_manager/CMakeLists.txt
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

build(python): provide wheels for Python 3.14/3.14t (#3620)
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  .github/workflows/packaging.yml
Due: check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
