Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

Use IsStatus
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

sync go copies
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
Due: none

fix(c/driver/postgresql): use fmt for error messages (#4627)
  c/driver/postgresql/connection.cc
  c/driver/postgresql/error.cc
  c/driver/postgresql/error.h
  c/driver/postgresql/statement.cc
Due: none

feat(javascript): publish a win32-arm64 native package
  .github/workflows/javascript.yml
  .github/workflows/packaging.yml
  javascript/.cargo/config.toml
  javascript/npm/win32-arm64-msvc/README.md
  javascript/npm/win32-arm64-msvc/package.json
  javascript/package-lock.json
  javascript/package.json
Due: check-pin

feat(javascript): use vcpkg for SQLite in the win-arm64 test leg
  .github/workflows/javascript.yml
Due: check-pin

update docs
  docs/source/cpp/recipe/quickstart.cc
  docs/source/cpp/recipe_driver/driver_example.cc
Due: none

use another sentinel
  r/adbcdrivermanager/src/radbc.cc
Due: none

docs and versions
  r/adbcpostgresql/man/adbcpostgresql.Rd
  r/adbcsqlite/man/adbcsqlite.Rd
Due: none

update nanoarrow
  c/vendor/nanoarrow/nanoarrow.c
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/nanoarrow/nanoarrow.hpp
  c/vendor/vendor_nanoarrow.sh
Due: none

feat(javascript): use micromamba for the win-arm64 test leg
  .github/workflows/javascript.yml
Due: check-pin

try improving docs around init funcs
  c/include/arrow-adbc/adbc.h
  docs/source/format/driver_manifests.rst
  docs/source/glossary.rst
Due: check-cgo-adbc-header

Update adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: none

feat(c): require C++20 as the baseline (#4610)
  c/CMakeLists.txt
  c/cmake_modules/AdbcDefines.cmake
  c/cmake_modules/BuildUtils.cmake
  c/driver/common/CMakeLists.txt
  c/driver/flightsql/CMakeLists.txt
  c/driver/framework/CMakeLists.txt
  c/driver/postgresql/CMakeLists.txt
  c/driver/sqlite/CMakeLists.txt
  c/driver_manager/CMakeLists.txt
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_test.cc
  c/driver_manager/current_arch.h
  c/integration/duckdb/CMakeLists.txt
  c/validation/CMakeLists.txt
  ci/r_makevars_cxx20
  compose.yaml
  docs/source/cpp/recipe/quickstart.cc
  docs/source/cpp/recipe_driver/driver_example.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/current_arch.h
  r/adbcdrivermanager/src/Makevars
  r/adbcdrivermanager/src/Makevars.win
  r/adbcdrivermanager/src/radbc.cc
  r/adbcpostgresql/src/Makevars.in
  r/adbcpostgresql/src/Makevars.ucrt
  r/adbcpostgresql/src/Makevars.win
Due: none

fix(go/adbc/drivermgr): terminate GetObjects table_types with NULL (#4596)
  go/adbc/drivermgr/wrapper.go
Due: none

build(c): don't allow combined static/shared build on Windows
  c/cmake_modules/DefineOptions.cmake
  ci/linux-packages/debian/rules
  ci/linux-packages/yum/apache-arrow-adbc.spec.in
Due: none

build(c): don't allow combined static/shared build on Windows (#4606)
  c/cmake_modules/DefineOptions.cmake
  ci/linux-packages/debian/rules
  ci/linux-packages/yum/apache-arrow-adbc.spec.in
Due: none

ci: override R Makevars for nightly verification
  .github/workflows/nightly-verify.yml
  .github/workflows/verify.yml
Due: check-pin

try to reimport pyarrow on _requires_pyarrow
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

export pyarrow at the module level
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

Update test_dbapi.py
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

feat(c): add source context to manifest and profile parse errors (#4633)
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  python/adbc_driver_manager/tests/test_profile.py
Due: none

satisfy pyright
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

try which'ing
  ci/scripts/cpp_clang_tidy.sh
Due: none

chore(ci): fix failure in detecting compilers in clang-tidy job (#4642)
  ci/scripts/cpp_clang_tidy.sh
Due: none

fix(python/adbc_driver_manager): reimport PyArrow if installed mid-session (#4641)
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

test: rename references to avoid conflict with installed drivers
  .github/workflows/java.yml
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/MultiDriverIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
Due: check-pin

polars deprecation
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

polars deprecation
  python/adbc_driver_manager/adbc_driver_manager/_dbapi_backend.py
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
Due: none

typecheck
  python/adbc_driver_manager/adbc_driver_manager/_dbapi_backend.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
Due: none

Apply suggestions from code review
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

test: rename references to avoid conflict with installed drivers (#4643)
  .github/workflows/java.yml
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/MultiDriverIntegrationTest.java
  java/driver/jni-validation/src/test/java/org/apache/arrow/adbc/driver/jni/SqlServerIntegrationTest.java
  python/adbc_driver_manager/adbc_driver_manager/_dbapi_backend.py
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/tests/test_dbapi_polars_nopyarrow.py
Due: check-pin

feat(dev/release): verify binary JARs on Windows
  .github/workflows/verify.yml
  dev/release/verify-release-candidate.ps1
  dev/release/verify/java/README.md
  dev/release/verify/java/pom.xml
  dev/release/verify/java/src/main/java/org/apache/arrow/adbc/verify/App.java
  dev/release/verify/java/src/test/java/org/apache/arrow/adbc/verify/AppTest.java
Due: check-pin

Update dev/release/verify-release-candidate.ps1
  dev/release/verify-release-candidate.ps1
Due: none

expand JAR testing
  dev/release/verify/java/pom.xml
  dev/release/verify/java/src/test/java/org/apache/arrow/adbc/verify/AppTest.java
  dev/release/verify/java/src/test/java/org/apache/arrow/adbc/verify/VerifyReleaseCandidateTest.java
Due: none

feat(dev/release): verify binary JARs on Windows (#4624)
  .github/workflows/verify.yml
  dev/release/verify-release-candidate.ps1
  dev/release/verify/java/README.md
  dev/release/verify/java/pom.xml
  dev/release/verify/java/src/main/java/org/apache/arrow/adbc/verify/App.java
  dev/release/verify/java/src/test/java/org/apache/arrow/adbc/verify/VerifyReleaseCandidateTest.java
Due: check-pin

feat(dev/release): verify binary JARs on Unix-like platforms
  dev/release/verify-release-candidate.sh
Due: none

build(c): automatically copy deps to output on Windows with vcpkg
  c/CMakePresets.json
  c/cmake_modules/BuildUtils.cmake
  c/cmake_modules/DefineOptions.cmake
Due: none

feat(go/adbc): refactor slog messages to OTel spans/events
  go/adbc/driver/flightsql/flightsql_adbc_test.go
  go/adbc/driver/flightsql/flightsql_bulk_ingest.go
  go/adbc/driver/flightsql/flightsql_connection.go
  go/adbc/driver/flightsql/flightsql_database.go
  go/adbc/driver/flightsql/flightsql_driver.go
  go/adbc/driver/flightsql/flightsql_statement.go
  go/adbc/driver/flightsql/flightsql_tracing.go
  go/adbc/driver/flightsql/logging.go
  go/adbc/driver/flightsql/logging_test.go
  go/adbc/driver/flightsql/record_reader.go
  go/adbc/driver/flightsql/record_reader_test.go
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/driverbase/database.go
  go/adbc/driver/internal/shared_utils.go
  go/adbc/go.mod
  go/adbc/go.sum
Due: none

feat(go/adbc): extend tracing lifecycle helpers
  go/adbc/driver/internal/driverbase/connection.go
  go/adbc/driver/internal/driverbase/database.go
  go/adbc/driver/internal/shared_utils.go
Due: none

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
