Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

rename
  c/driver/sqlite/config.h.in
  c/driver/sqlite/sqlite.cc
Due: none

fix(c/driver/sqlite): bring driver up to par, enable validation (#4845)
  .github/workflows/integration.yml
  c/driver/framework/connection.h
  c/driver/sqlite/CMakeLists.txt
  c/driver/sqlite/config.h.in
  c/driver/sqlite/meson.build
  c/driver/sqlite/sqlite.cc
  c/driver/sqlite/sqlite_test.cc
  c/driver/sqlite/validation/tests/sqlite.py
  c/driver_manager/adbc_driver_manager_test.cc
  r/adbcsqlite/bootstrap.R
  r/tools/bootstrap-c.R
  ruby/test/test-connection.rb
Due: check-pin

perf(c/driver/postgresql): vendor boost.int128 for Windows
  LICENSE.txt
  c/driver/postgresql/copy/writer.h
  c/vendor/boost/int128.hpp
  dev/release/rat_exclude_files.txt
  python/adbc_driver_flightsql/LICENSE.txt
  python/adbc_driver_postgresql/LICENSE.txt
  python/adbc_driver_sqlite/LICENSE.txt
Due: none

fix(c/driver/postgresql): check child nulls in ingest
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/validation/queries/ingest/fixed_size_list.txtcase
  c/driver/postgresql/validation/queries/ingest/list.txtcase
Due: none

fix
  compose.yaml
Due: none

fix(csharp): fall back to the standard driver entrypoint (#4815)
  csharp/src/Apache.Arrow.Adbc/C/CAdbcDriverImporter.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/AdbcDriverManager.cs
  csharp/test/AotInterop/Apache.Arrow.Adbc.TestFixture.Tests/AotFixtureTests.cs
Due: none

run postgres tests on windows
  .github/workflows/native-windows.yml
Due: check-pin

Update native-vcpkg.yml
  .github/workflows/native-vcpkg.yml
Due: check-pin

fix win32 regex issue
  c/driver/postgresql/postgresql_test.cc
Due: none

just build all together in one step
  .github/workflows/native-windows.yml
Due: check-pin

fix(postgresql): trim trailing numeric zeros
  c/driver/postgresql/copy/writer.h
Due: none

fix(postgresql): avoid interval test overflow
  c/driver/postgresql/postgresql_test.cc
Due: none

test(postgresql): ingest negative decimal256
  c/driver/postgresql/postgresql_test.cc
Due: none

debug test failure
  c/driver/postgresql/postgresql_test.cc
Due: none

Update postgresql_test.cc
  c/driver/postgresql/postgresql_test.cc
Due: none

fix the carry bug
  c/driver/postgresql/copy/writer.h
Due: none

Revert "debug test failure"
  c/driver/postgresql/postgresql_test.cc
Due: none

Revert "Update postgresql_test.cc"
  c/driver/postgresql/postgresql_test.cc
Due: none

Add regression test for carry bug
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
Due: none

perf(postgresql): use boost int128 on Windows
  LICENSE.txt
  c/driver/postgresql/copy/writer.h
  c/vendor/boost/int128.hpp
  dev/release/rat_exclude_files.txt
  python/adbc_driver_flightsql/LICENSE.txt
  python/adbc_driver_postgresql/LICENSE.txt
  python/adbc_driver_sqlite/LICENSE.txt
Due: none

Fill in todo comment
  c/driver/postgresql/postgresql_test.cc
Due: none

Revert "perf(postgresql): use boost int128 on Windows"
  LICENSE.txt
  c/driver/postgresql/copy/writer.h
  c/vendor/boost/int128.hpp
  dev/release/rat_exclude_files.txt
  python/adbc_driver_flightsql/LICENSE.txt
  python/adbc_driver_postgresql/LICENSE.txt
  python/adbc_driver_sqlite/LICENSE.txt
Due: none

docs(c/driver/postgresql): simplify result metadata reference
  docs/source/driver/postgresql.rst
Due: none

ci: run PostgreSQL tests on Windows x64 (#4849)
  .github/workflows/native-vcpkg.yml
  .github/workflows/native-windows.yml
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/postgresql_test.cc
Due: check-pin

fix(c/driver/postgresql): fix ingestion of certain negative decimal values (#4850)
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/postgresql_test.cc
Due: none

fix(c/driver/postgresql): check child nulls in ingest (#4848)
  c/driver/postgresql/copy/postgres_copy_writer_test.cc
  c/driver/postgresql/copy/writer.h
  c/driver/postgresql/validation/queries/ingest/fixed_size_list.txtcase
  c/driver/postgresql/validation/queries/ingest/list.txtcase
  compose.yaml
Due: none

perf(c/driver/postgresql): vendor boost.int128 for Windows (#4847)
  LICENSE.txt
  c/driver/postgresql/copy/writer.h
  c/vendor/boost/int128.hpp
  dev/release/rat_exclude_files.txt
  python/adbc_driver_flightsql/LICENSE.txt
  python/adbc_driver_postgresql/LICENSE.txt
  python/adbc_driver_sqlite/LICENSE.txt
Due: none

build: allow overriding the Go C compiler (#4813)
  c/cmake_modules/DefineOptions.cmake
  c/cmake_modules/GoUtils.cmake
Due: none

feat(c/driver_manager): polyfill numeric options for 1.0 drivers (#4774)
  c/driver_manager/adbc_driver_manager_api.cc
  c/driver_manager/adbc_version_100_compatibility_test.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

feat(c/driver/postgresql): expose numeric result type modifiers (#4798)
  c/driver/postgresql/postgres_type.h
  c/driver/postgresql/postgres_type_test.cc
  c/driver/postgresql/postgresql_test.cc
  c/driver/postgresql/result_helper.cc
  c/driver/postgresql/result_helper.h
  c/driver/postgresql/result_reader.cc
  docs/source/driver/postgresql.rst
Due: none

docs: generate <link rel="canonical"> for tagged releases
  .github/workflows/nightly-website.yml
  docs/source/conf.py
Due: check-pin

fix
  .github/workflows/nightly-website.yml
Due: check-pin

fix(c/driver/sqlite): reject unnamed bind parameters
  c/driver/sqlite/sqlite_test.cc
  c/driver/sqlite/statement_reader.c
  docs/source/driver/sqlite.rst
  python/adbc_driver_sqlite/tests/test_dbapi.py
Due: none

Delegate to glossary.rst link
  docs/source/format/driver_manifests.rst
Due: none

Rewrite docstring in adbc.h
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

reword
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

Can't do footnotes in codeblocks
  docs/source/format/driver_manifests.rst
Due: none
