Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

ci: fix almalinux-8 build (#4061)
  glib/tool/generate-version-header.py
Due: none

fix(rust/driver_manager): fix clippy warning
  rust/driver_manager/src/lib.rs
Due: none

fix(rust/driver_manager): fix clippy warning (#4073)
  rust/driver_manager/src/lib.rs
Due: none

feat(format): add AdbcErrorGetVendorCode (#3873)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add more constraint metadata to GetObjects (#4008)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

add more
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

feat(format): add table_definition to GetObjects
  c/include/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

initial check-in
  csharp/src/Apache.Arrow.Adbc/Apache.Arrow.Adbc.csproj
  csharp/src/Apache.Arrow.Adbc/DriverManager/AdbcDriverManager.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/AdbcLoadFlags.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/FilesystemProfileProvider.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/IConnectionProfile.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/IConnectionProfileProvider.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/TomlConnectionProfile.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/TomlParser.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/readme.md
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/ColocatedManifestTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/FakeAdbcDriver.cs
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/TomlConnectionProfileTests.cs
Due: none

update readme header
  csharp/src/Apache.Arrow.Adbc/DriverManager/readme.md
Due: none

feat(python/adbc_driver_manager): allow ``connect(profile="foo")``
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

Check is not required + inline constants
  c/driver/postgresql/copy/reader.h
Due: none

Ensure overflow in write
  c/driver/postgresql/copy/writer.h
Due: none

fix(c/driver_manager): remove "drivers" suffix from InternalAdbcUserConfigDir
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

fix(c/driver_manager): append subdirectory at each InternalAdbcUserConfigDir call site
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_profiles.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
Due: none

test(c/driver_manager): update LoadUserLevelManifest to use drivers subdirectory
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

fix(c/driver_manager): use platform-specific casing for drivers subdirectory
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
Due: none

feat(javascript): add npm publishing workflow and release scripts
  .github/workflows/packaging.yml
  ci/scripts/node_npm_upload.sh
  dev/release/02-sign.sh
  dev/release/post-09-npm.sh
  dev/release/utils-prepare.sh
  dev/release/versions.env
  javascript/.gitignore
  javascript/Cargo.toml
  javascript/npm/darwin-arm64/package.json
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-arm64-gnu/package.json
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/package.json
  javascript/package-lock.json
  javascript/package.json
Due: check-pin

update release instructions with node.js publishing
  .github/workflows/packaging.yml
  docs/source/development/releasing.rst
Due: check-pin

style(c/driver_manager): fix clang-format line length
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
Due: none

remove stale bindings and rebuild in ci
  .github/workflows/javascript.yml
  .github/workflows/packaging.yml
  javascript/.gitignore
  javascript/binding.js
  javascript/package.json
Due: check-pin

feat(python/adbc_driver_manager): allow ``connect(profile="foo")`` (#4078)
  python/adbc_driver_manager/adbc_driver_manager/dbapi.py
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/test_dbapi.py
Due: none

upload node nightly packages to gemfury
  .github/workflows/packaging.yml
Due: check-pin

fix formatting
  .github/workflows/packaging.yml
Due: check-pin

shift script numbers
  dev/release/post-10-remove-old-artifacts.sh
  dev/release/post-11-announce.sh
  dev/release/post-12-bump-versions.sh
  dev/release/post-13-website.sh
  docs/source/development/releasing.rst
Due: none

refactor; add security
  csharp/src/Apache.Arrow.Adbc/DriverManager/AdbcDriverManager.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/DriverManagerSecurity.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/FilesystemProfileProvider.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/TomlConnectionProfile.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/TomlParser.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/readme.md
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/ColocatedManifestTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/DriverManagerSecurityTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/TomlConnectionProfileTests.cs
Due: none

fix tests for GitHub
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/DriverManagerSecurityTests.cs
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/TomlConnectionProfileTests.cs
Due: none

fix(c/driver_manager): test and fix bugs in profiles
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  c/driver/framework/connection.h
  c/driver/sqlite/sqlite.cc
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/conftest.py
  python/adbc_driver_manager/tests/test_profile.py
Due: check-pin

update profile parsing
  csharp/src/Apache.Arrow.Adbc/DriverManager/AdbcDriverManager.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/ManagedDriverLoader.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/TomlConnectionProfile.cs
  csharp/src/Apache.Arrow.Adbc/DriverManager/readme.md
  csharp/test/Apache.Arrow.Adbc.Tests/DriverManager/TomlConnectionProfileTests.cs
Due: none

feat(javascript): return Arrow Table by default in AdbcConnection API
  javascript/__test__/error_handling.spec.ts
  javascript/__test__/metadata.spec.ts
  javascript/__test__/profile.spec.ts
  javascript/__test__/query.spec.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
Due: none

update inconsistent docs
  javascript/README.md
Due: none

fix(c/driver_manager): test and fix bugs in profiles (#4080)
  .github/workflows/native-unix.yml
  .github/workflows/native-windows.yml
  c/driver/framework/connection.h
  c/driver/sqlite/sqlite.cc
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  ci/scripts/python_venv_test.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  python/adbc_driver_manager/pyproject.toml
  python/adbc_driver_manager/tests/conftest.py
  python/adbc_driver_manager/tests/test_profile.py
Due: check-pin

feat(javascript): return Arrow Table by default in AdbcConnection (#4091)
  javascript/README.md
  javascript/__test__/error_handling.spec.ts
  javascript/__test__/metadata.spec.ts
  javascript/__test__/profile.spec.ts
  javascript/__test__/query.spec.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
Due: none

feat(javascript): add npm publishing workflow and release scripts (#4076)
  .github/workflows/javascript.yml
  .github/workflows/packaging.yml
  ci/scripts/node_npm_upload.sh
  dev/release/02-sign.sh
  dev/release/post-09-npm.sh
  dev/release/post-10-remove-old-artifacts.sh
  dev/release/post-11-announce.sh
  dev/release/post-12-bump-versions.sh
  dev/release/post-13-website.sh
  dev/release/utils-prepare.sh
  dev/release/versions.env
  docs/source/development/releasing.rst
  javascript/.gitignore
  javascript/Cargo.toml
  javascript/binding.js
  javascript/npm/darwin-arm64/package.json
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-arm64-gnu/package.json
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/package.json
  javascript/package-lock.json
  javascript/package.json
Due: check-pin

refactor(c/driver_manager): InternalAdbcUserConfigDir should return parent path (#4084)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
Due: none

fix header docstring and javascript test
  c/include/arrow-adbc/adbc_driver_manager.h
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
  javascript/__test__/profile.spec.ts
Due: check-cgo-adbc-header

fix tests
  c/driver_manager/adbc_driver_manager_test.cc
Due: none

fix rust tests, add conda test
  c/driver_manager/adbc_driver_manager_test.cc
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
Due: none

cleanup clippy and test
  rust/driver_manager/tests/connection_profile.rs
Due: none

fix clippy
  rust/driver_manager/src/profile.rs
Due: none

feat(c/driver_manager,rust/driver_manager): improve profile/manifest consistency
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/adbc_driver_manager_test.cc
  docs/source/format/connection_profiles.rst
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  rust/driver_manager/src/profile.rs
Due: none

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
