Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)

more CI fixes
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

validate fixes to CI
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

remining CI fixes
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

revert/fix issues
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

found the spot I missed
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

pre-commit
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
Due: none

update .gitattributes
  .gitattributes
Due: none

format/lint and fix python test
  c/driver_manager/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
  python/adbc_driver_manager/tests/test_lowlevel.py
Due: none

feat(format): add GetInfo codes for driver features (#4012)
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

reset needs_refresh after init (#112)
  go/adbc/driver/databricks/database.go
Due: none

chore(rust): bump dep versions, crate edition and msrv
  rust/Cargo.lock
  rust/Cargo.toml
  rust/driver/datafusion/Cargo.toml
  rust/driver/datafusion/src/lib.rs
  rust/driver/dummy/src/lib.rs
  rust/driver/snowflake/src/database/builder.rs
  rust/driver/snowflake/src/driver.rs
  rust/driver/snowflake/src/driver/builder.rs
  rust/driver_manager/src/search.rs
  rust/driver_manager/tests/connection_profile.rs
  rust/driver_manager/tests/test_env_var_profiles.rs
  rust/ffi/src/driver_exporter.rs
  rust/ffi/src/lib.rs
  rust/ffi/src/types.rs
Due: none

build(c): work around clang making `__COUNTER__` a warning
  c/driver/framework/statement.h
  c/driver/framework/status.h
  c/vendor/nanoarrow/nanoarrow.h
Due: none

chore(rust): downgrade msrv to 1.85
  rust/Cargo.toml
  rust/core/src/sync.rs
  rust/driver/datafusion/tests/test_datafusion.rs
  rust/driver/dummy/tests/driver_exporter_dummy.rs
  rust/driver/snowflake/src/connection.rs
  rust/driver/snowflake/src/connection/builder.rs
  rust/driver/snowflake/src/database.rs
  rust/driver/snowflake/src/duration.rs
  rust/driver/snowflake/src/statement.rs
  rust/driver/snowflake/tests/driver.rs
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/profile.rs
  rust/driver_manager/tests/common/mod.rs
  rust/driver_manager/tests/driver_manager_sqlite.rs
  rust/ffi/src/options.rs
Due: none

fix(rust): let-chains
  rust/driver/dummy/src/lib.rs
  rust/driver_manager/src/search.rs
  rust/ffi/src/driver_exporter.rs
  rust/ffi/src/types.rs
Due: none

chore(rust/driver/datafusion): bump datafusion to 52.2.0
  rust/Cargo.lock
  rust/driver/datafusion/Cargo.toml
Due: none

refactor(c/driver_manager): split up adbc_driver_manager.cc for easier maintenance (#4029)
  .gitattributes
  .pre-commit-config.yaml
  c/driver_manager/CMakeLists.txt
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_api.cc
  c/driver_manager/adbc_driver_manager_driver_loading.cc
  c/driver_manager/adbc_driver_manager_internal.h
  c/driver_manager/adbc_driver_manager_profiles.cc
  c/driver_manager/current_arch.h
  c/driver_manager/meson.build
  ci/scripts/run_cgo_drivermgr_check.sh
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager_api.cc
  go/adbc/drivermgr/adbc_driver_manager_driver_loading.cc
  go/adbc/drivermgr/adbc_driver_manager_internal.h
  go/adbc/drivermgr/adbc_driver_manager_profiles.cc
  go/adbc/drivermgr/current_arch.h
  python/adbc_driver_manager/MANIFEST.in
  python/adbc_driver_manager/setup.py
  python/adbc_driver_manager/tests/test_lowlevel.py
  r/adbcdrivermanager/src/Makevars
  r/adbcdrivermanager/src/Makevars.win
Due: check-pin

feat(javascript/driver-manager): add Rust implementation
  javascript/src/client.rs
  javascript/src/lib.rs
Due: none

test(javascript/driver-manager): add test suite
  javascript/__test__/bind.spec.ts
  javascript/__test__/error_handling.spec.ts
  javascript/__test__/metadata.spec.ts
  javascript/__test__/options.spec.ts
  javascript/__test__/query.spec.ts
  javascript/__test__/safety.spec.ts
  javascript/__test__/test_utils.ts
  javascript/__test__/transaction.spec.ts
Due: none

feat(javascript/driver-manager): add napi-rs package scaffold
  dev/release/rat_exclude_files.txt
  javascript/.cargo/config.toml
  javascript/.editorconfig
  javascript/.gitattributes
  javascript/.gitignore
  javascript/.husky/.gitignore
  javascript/.husky/pre-commit
  javascript/.prettierignore
  javascript/.taplo.toml
  javascript/Cargo.toml
  javascript/LICENSE.txt
  javascript/binding.d.ts
  javascript/binding.js
  javascript/build.rs
  javascript/npm/darwin-arm64/README.md
  javascript/npm/darwin-arm64/package.json
  javascript/npm/darwin-x64/README.md
  javascript/npm/darwin-x64/package.json
  javascript/npm/linux-arm64-gnu/README.md
  javascript/npm/linux-arm64-gnu/package.json
  javascript/npm/linux-x64-gnu/README.md
  javascript/npm/linux-x64-gnu/package.json
  javascript/npm/win32-x64-msvc/README.md
  javascript/npm/win32-x64-msvc/package.json
  javascript/package-lock.json
  javascript/package.json
  javascript/tsconfig.json
Due: none

ci(javascript/driver-manager): add build and packaging workflows
  .github/workflows/node.yml
  .github/workflows/packaging.yml
  ci/scripts/node_build.sh
Due: check-pin

feat(javascript/driver-manager): add TypeScript ADBC wrapper
  javascript/lib/error.ts
  javascript/lib/index.ts
  javascript/lib/types.ts
Due: none

chore: add javascript workspace and repo-level configuration
  .gitignore
  .pre-commit-config.yaml
  dev/release/rat_exclude_files.txt
  javascript/README.md
  javascript/rustfmt.toml
Due: check-pin

fix: bump arrow dependency upper bound for arrow 58 compatibility
  javascript/Cargo.toml
Due: none

fix: address build PR feedback
  .github/workflows/node.yml
  .github/workflows/packaging.yml
  javascript/.gitattributes
Due: check-pin

fix: Rename node.yml to javascript.yml for consistency
  .github/workflows/javascript.yml
Due: check-pin

fix: split lint into check:js and check:rust npm scripts
  .github/workflows/javascript.yml
  javascript/package.json
  javascript/src/client.rs
Due: check-pin

fix: add Windows testing steps
  .github/workflows/javascript.yml
Due: check-pin

fix: js build
  .github/workflows/javascript.yml
Due: check-pin

fix: set driver paths for sqlite tests
  .github/workflows/javascript.yml
Due: check-pin

fix: test lib driver path
  .github/workflows/javascript.yml
  javascript/__test__/test_utils.ts
Due: check-pin

fix: test lib path for windows
  .github/workflows/javascript.yml
Due: check-pin

fix: use system sqlite for tests
  .github/workflows/javascript.yml
Due: check-pin

fix: sqlite test lib path on windows
  .github/workflows/javascript.yml
Due: check-pin

fix: sqlite test lib path on windows one more time
  .github/workflows/javascript.yml
Due: check-pin

chore(rust/driver/datafusion): bump datafusion to 52.2.0 (#4045)
  rust/Cargo.lock
  rust/driver/datafusion/Cargo.toml
Due: none

fix(python/adbc_driver_manager): remove unused typing imports
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyi
Due: none

refactor: propagate structured error fields
  c/driver/sqlite/CMakeLists.txt
  ci/scripts/node_build.sh
  javascript/__test__/error_handling.spec.ts
  javascript/lib/error.ts
  javascript/src/lib.rs
Due: none

feat: add license.txt generation
  ci/scripts/node_license.sh
  javascript/Cargo.toml
  javascript/LICENSE.txt
  javascript/about.toml
  javascript/license.hbs
Due: none

fix(python/adbc_driver_manager): remove unused typing imports (#4049)
  python/adbc_driver_manager/adbc_driver_manager/_lib.pyi
Due: none

fix: license formatting
  ci/scripts/node_license.sh
  dev/release/rat_exclude_files.txt
  javascript/.prettierignore
  javascript/LICENSE.txt
  javascript/about.toml
  javascript/license.hbs
Due: none
