Repository apache/arrow-adbc: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-cgo-adbc-header, check-pin

check-cgo-adbc-header:
  name: Ensure CGO adbc.h is syncd
  language: script
  pass_filenames: true
  entry: ./ci/scripts/run_cgo_drivermgr_check.sh

check-pin:
  name: Ensure GitHub Actions and pre-commit hooks are pinned to a specific SHA
  language: python
  additional_dependencies:
  - ruamel.yaml==0.18.7
  pass_filenames: true
  entry: ./ci/scripts/run_pre_commit_pin.py

fix: Add null-forgiving operator to fix CS8602 warning
  csharp/src/Drivers/Apache/Hive2/HiveServer2TlsImpl.cs
Due: none

Extract DriverLibrary::search() function
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

More entrypoint logic extracted
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

Move tests from lib.rs to search.rs
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

Put the trace in the error details
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

feat(go/adbc/driver/bigquery): supports update table description (#108)
  go/adbc/driver/bigquery/driver.go
  go/adbc/driver/bigquery/statement.go
Due: none

Clarify trace ownership rules
  rust/driver_manager/src/search.rs
Due: none

feat: Add comprehensive certificate validation error messages
  csharp/src/Drivers/Apache/Hive2/HiveServer2TlsImpl.cs
Due: none

update ref to actual release
  c/vendor/vendor_nanoarrow.sh
Due: none

fix: Use AuthenticationException for backward compatibility
  csharp/src/Drivers/Apache/Hive2/HiveServer2TlsImpl.cs
Due: none

Do as Windows CI tells
  rust/driver_manager/src/search.rs
Due: none

fix: Simplify certificate validation logic and remove unreachable code
  csharp/src/Drivers/Apache/Hive2/HiveServer2TlsImpl.cs
Due: none

updates from comments
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  c/include/arrow-adbc/adbc_driver_manager.h
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: check-cgo-adbc-header

pre-commit
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: none

better option for init_func
  c/driver_manager/adbc_driver_manager.cc
  c/include/arrow-adbc/adbc_driver_manager.h
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

pre-commit lint
  c/driver_manager/adbc_driver_manager.cc
  c/include/arrow-adbc/adbc_driver_manager.h
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

chore(c/vendor): Update vendored nanoarrow to 0.8.0 (#3944)
  c/vendor/nanoarrow/nanoarrow.c
  c/vendor/nanoarrow/nanoarrow.h
  c/vendor/nanoarrow/nanoarrow.hpp
  c/vendor/vendor_nanoarrow.sh
Due: none

update to {{ }} syntax
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  docs/source/format/connection_profiles.rst
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

Update header docs based on comments
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

missed closing quotes
  docs/source/format/connection_profiles.rst
Due: none

fix typo
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

remove old wording from 1.1.0
  c/include/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc.h
Due: check-cgo-adbc-header

chore(dev/release): embed hash of source tarball into email
  dev/release/06-binary-verify.sh
Due: none

vscode hates me
  docs/source/format/connection_profiles.rst
Due: none

feat(java/driver/jni): add executeUpdate, statementPrepare and bulkIngest
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniConnection.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
  java/driver/jni/src/test/java/org/apache/arrow/adbc/driver/jni/JniDriverTest.java
Due: none

fix: precommit
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
  java/driver/jni/src/test/java/org/apache/arrow/adbc/driver/jni/JniDriverTest.java
Due: none

Update c/include/arrow-adbc/adbc_driver_manager.h
  c/include/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

Remove the unecesary pub(crate) from search.rs
  rust/driver_manager/src/search.rs
Due: none

sync
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: none

make regex onst static
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

`static const` not `const static`
  c/driver_manager/adbc_driver_manager.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

feat(rust/driver_manager): Decouple driver search logic from the driver objects themselves (#3930)
  rust/driver_manager/src/lib.rs
  rust/driver_manager/src/search.rs
Due: none

chore(dev/release): embed hash of source tarball into email (#3965)
  dev/release/06-binary-verify.sh
Due: none

chore(go): bump to go 1.26
  .env
  .pre-commit-config.yaml
  go/adbc/go.mod
Due: check-pin

feat(java/driver/jni): add executeUpdate, prepare, bulkIngest (#3966)
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniConnection.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
  java/driver/jni/src/test/java/org/apache/arrow/adbc/driver/jni/JniDriverTest.java
Due: none

remove escaping
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  go/adbc/drivermgr/adbc_driver_manager.cc
Due: none

feat(c/driver_manager): add connection profile interface (#3876)
  c/driver_manager/adbc_driver_manager.cc
  c/driver_manager/adbc_driver_manager_test.cc
  c/include/arrow-adbc/adbc.h
  c/include/arrow-adbc/adbc_driver_manager.h
  docs/source/format/connection_profiles.rst
  docs/source/format/driver_manifests.rst
  docs/source/index.rst
  go/adbc/drivermgr/adbc_driver_manager.cc
  go/adbc/drivermgr/arrow-adbc/adbc.h
  go/adbc/drivermgr/arrow-adbc/adbc_driver_manager.h
Due: check-cgo-adbc-header

feat(java/driver/jni): metadata methods, validation suite
  java/driver/jni-validation-sqlite/pom.xml
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteConnectionMetadataTest.java
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteConnectionTest.java
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteQuirks.java
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteStatementTest.java
  java/driver/jni-validation-sqlite/src/test/java/org/apache/arrow/adbc/driver/jni/JniSqliteTransactionTest.java
  java/driver/jni/src/main/cpp/jni_wrapper.cc
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniConnection.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/JniStatement.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/JniLoader.java
  java/driver/jni/src/main/java/org/apache/arrow/adbc/driver/jni/impl/NativeAdbc.java
  java/driver/jni/src/test/java/org/apache/arrow/adbc/driver/jni/JniDriverTest.java
  java/pom.xml
Due: none

chore(go): bump to go 1.26 (#3969)
  .env
  .pre-commit-config.yaml
  go/adbc/go.mod
Due: check-pin

Path conditions:
  check-cgo-adbc-header: any of: ^c/include/arrow-adbc/[^/]*\.h$, but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
  check-pin: any of: (^\.pre-commit-config\.yaml$)|(^\.github/workflows/.*\.(yml|yaml)$), but not: ^(c/vendor/.*)|(go/adbc/drivermgr/vendored/.*)
